[2022-10-02 19:09] Arun9739 opened #2 "Adding links to the social media buttons under Contact page"
**Is your feature request related to a problem? Please describe.**
Need to add links to the social media buttons present under contact section.

**Describe the solution you'd like**
- You need to add just links to respective social media handles.
- For eg.  after clickinh the twitter button it should go to twitter.
- You should not harm the project's structure.
- There are total five social mediab

[2022-10-02 19:15] tokyo3001 commented on #2
@Arun9739 Can you assign me this issue?

[2022-10-03 08:00] Arun9739 commented on #2
@tokyo3001 go ahead !!
Please showcase your love by starring the repo :)

[2022-10-03 08:46] Arun9739 opened #3 "Adding proper images to Shimla and Kashmir sections"
**Is your feature request related to a problem? Please describe.**
- Add proper image to Shimla and Kashmir section present in "Home" and "Our toors" pages.

**Describe the solution you'd like**
- Add related images like Kashmir place image to Kashmir section.
- You need to add the image in image folder.
- The image should fit into the space allocated for it.

**Screenshots**
![image](https://user

[2022-10-03 08:48] aniket2003 commented on #3
@Arun9739 I would like to work on this issue , could you please assign me this.

[2022-10-03 09:15] Arun9739 commented on #3
Go ahead @aniket2003 !!
Showcase your love by starring the repo

[2022-10-03 09:15] Arun9739 commented on #3
Go ahead @aniket2003 !!
Showcase your love by starring the repo

[2022-10-03 09:16] Arun9739 opened #4 "Adding functionality to learn more button"
**Is your feature request related to a problem? Please describe.**
- The "Learn more" button should be functional after clicking it

**Describe the solution you'd like**
- Make the button such that after clicking the button it should go to tours and special packages section.
- Read the content above the learn more secion and change according to functionality.
- You can link other website too after

[2022-10-03 09:21] Arun9739 opened #5 "Adding dark mode feature"
**Is your feature request related to a problem? Please describe.**
- Add a dark mode fature to all pages present in a web page

**Describe the solution you'd like**
- You should not discard any component of web page.
- You have to make sure that fonts and colors appear correctly

**Screenshots**

[2022-10-03 09:33] zainbinfurqan commented on #5
@Arun9739  I would like to work on it,
Solution: I will create a config obj and will store it on local storage and will create a util function which will add dark/light mode on web pages.

[2022-10-03 09:36] Arun9739 opened #6 "Add a logo to the website"
**Is your feature request related to a problem? Please describe.**
- Create one unique logo using any logo creator and put in website.

**Describe the solution you'd like**
- You have to add logo at top of website before the "Paryatna" text.
- Add proper logo.
- It should symolize tourism.
- Add logo to every page such as home, about etc.

**Screenshots **

[2022-10-03 09:38] Arun9739 commented on #5
Great solution @zainbinfurqan !!
Go ahead !!
Showcase you love by starring the repo !!

[2022-10-03 09:42] Arun9739 opened #7 "Adding proper content to the tours section"
**Is your feature request related to a problem? Please describe.**
- There are total four tours are present in "Our toors" section, you need to add proper content to it.

**Describe the solution you'd like**
- Change the Lorem content to the content according to the title.
- Fit the content in the box provided.
- Content should be about describing the place.
- Also make the dates unique for each t

[2022-10-03 09:49] Arun9739 opened #8 "Adding proper images to Special packages"
**Is your feature request related to a problem? Please describe.**
- Add related images to Special packages section present under the tours section.

**Describe the solution you'd like**
- The special package is present under the tours section.
- Add related images like beach image for goa beach etc.
- Add all image files in image folder.
- Make sure image fits in the space provided.

**Screenshot

[2022-10-03 10:05] lalit-03 commented on #8
Hey @Arun9739, I would like to work on this issue.

[2022-10-03 10:07] Swastik1710 commented on #4
Hey, I'd love to work on this issue. Kindly assign it to me.

[2022-10-03 10:10] Swastik1710 commented on #7
Hey, can you please assign this issue to me, I'd love to work on this.

[2022-10-03 10:10] Sidd2024 commented on #7
Hello!, @Arun9739 I would like to work on this issue.
Solution: Replace lorem ipsum text with short description of place and provide unique dates. All this with some CSS icons

[2022-10-03 10:10] JadugarKalakaboola commented on #7
Hi I would like to work on this issue.
I am planning to remove the dates and instead adding **Starting from: 22 March 2022**.
We can search about the places on internet and get Infos.
We can also add a **register now** button in the tour cards.

[2022-10-03 10:13] Sidd2024 commented on #8
Hello, @Arun9739 I would like to work on this issue.
Solution: Replace current images with some more relevant images and keep it organise with CSS

[2022-10-03 10:14] itsEobard2025 opened #9 "[Others] Proper catchlines for 'POPULAR PACKAGES' section"
Hi Arun, it seems that the Packages section can use some proper content for various places(Kashmir/Kedarnath/etc)
<br/>
![image](https://user-images.githubusercontent.com/88548999/193551966-31efe56e-bb98-4e50-a9fd-35dbc79506b1.png)

- Do I want to work on this Issue ?

- Any other information I want to tell ?

![image](https://user-images.githubusercontent.com/88548999/193553300-b7cae034-e37f-4701

[2022-10-03 10:15] JadugarKalakaboola commented on #6
Hi I would like to work on this issue. I have some templates ready.

[2022-10-03 10:18] asphalke07 opened #11 "Adding social media buttons to Image slider in About us page"
**Is your feature request related to a problem? Please describe.**
One must be able to redirected to social media accounts when the buttos are being clicked.

@Arun9739

[2022-10-03 10:18] JadugarKalakaboola commented on #6
![image](https://user-images.githubusercontent.com/90437355/193554277-fa54ac49-12dd-4b03-a573-d3a00001b9e1.png)
![image](https://user-images.githubusercontent.com/90437355/193554548-61120617-ff6e-4918-afe4-74d7e4c883ce.png)

[2022-10-03 10:19] JadugarKalakaboola commented on #6
![image](https://user-images.githubusercontent.com/90437355/193554708-757d1325-30a7-448f-b67a-77fc0c2cbfda.png)
![image](https://user-images.githubusercontent.com/90437355/193554751-a456d40a-5424-44fb-bea8-942a67c0f150.png)

[2022-10-03 10:22] Johnoris commented on #11
Assign this to me I'll love to fix it

[2022-10-03 10:27] asphalke07 opened #12 "Misspell of Website name on Contact Us page"
*What is the bug**
There seems misspell of Navbar Brand name in Contact Us page.

**Expected behavior**
On Contact Us page , website name should be shown Paryatana but it is displayed as Parytana

**Screenshots**
![image](https://user-images.githubusercontent.com/78165094/193555890-ea1f1103-3e2f-4592-b50e-9ef3c315089f.png)

[2022-10-03 10:27] Johnoris commented on #11
Also leave the name of the social media handles

[2022-10-03 10:29] Swastik1710 opened #13 "Scroll To Top Button"
**Is your feature request related to a problem? Please describe.**
As of now, if a user wants to go to any other section with the help of navbar links, they have to scroll back entirely to the top of the page.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I'd like to add a Scroll to Top button to each page so that the users can get back to the sta

[2022-10-03 10:29] Swastik1710 commented on #13
Please assign it to me, so that I can start working on it.

[2022-10-03 10:32] Swastik1710 opened #14 "Navigation Bar"
**Is your feature request related to a problem? Please describe.**
The navbar looks very thick and there is a lot of extra padding on top of the various page links in it.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I'd like to work on the NavBar and make the overall look better.
**Screenshots**

[2022-10-03 10:33] Swastik1710 commented on #14
Please assign it to me, so that I can start working on the navbar.

[2022-10-03 10:50] Utkarsh212 opened #15 "Enhancing the UI of the website"
**Is your feature request related to a problem? Please describe.**
I found the UI of the website very traditional and non-appealing. It is very edgy.

**Describe the solution you'd like**
I want to make some changes to the website UI to make it cleaner and more appealing, like adding shadows, rounded edges, changing font styles, and more responsiveness to the existing elements.
Please assign this

[2022-10-03 10:53] ojninja16 commented on #7
Hi @Arun9739..  i would like to work on this.....
adding more relevant images and content rather than

[2022-10-03 10:54] emepuchades opened #16 "Add a section of satisfied customers (reviews)"
**Is your feature request related to a problem? Please describe.**
A section is missing where you can see the good reviews of the people who have the travel services on your website.

**Describe the solution you'd like**
On the homepage you could add a part of reviews

**Screenshots**

[2022-10-03 11:08] amanchoudhary18 commented on #4
I believe I can work on this feature quite well. I would love to be assigned to this task.

[2022-10-03 11:10] ojninja16 commented on #6
hi ...I would like to work on it...something of this sort..

![Screenshot 2022-10-03 163922](https://user-images.githubusercontent.com/98155899/193563237-c4e96086-0dda-4f8b-a2bc-38f275d06a65.png)

[2022-10-03 11:12] abhishekpatil4 commented on #14
@Arun9739  Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:13] abhishekpatil4 commented on #13
@Arun9739 Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:13] abhishekpatil4 commented on #11
@Arun9739 Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:15] abhishekpatil4 commented on #8
@Arun9739 Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:15] abhishekpatil4 commented on #7
@Arun9739 Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:15] abhishekpatil4 commented on #6
@Arun9739 Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:15] abhishekpatil4 commented on #4
@Arun9739 Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:15] MridulTi opened #18 "Making navbar hoverable"
## Is your feature request related to the problem? Please describe.
As of right now, the navbar is static as in when the user scrolls down the navbar gets scroll up hence to get to the scroll bar the user has to go to the top
## Describe the solution you'd like
### A clear and concise description of what you want to happen.
I would like to make the navbar to be fixed at the top of the screen so th

[2022-10-03 11:18] navya-Singla-1-3-0-9 commented on #16
Can you please assign this issue to me?

[2022-10-03 11:30] pandeatul27 opened #19 "Giving Slideshow Effect to the Image Slider in the About page"
**Is your feature request related to a problem? Please describe.**
The slides in the image slider of the about page don't change automatically, nor it has a next or previous button.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I can give a slide show effect to it so that the slides can change automatically.
**Screenshots**

[2022-10-03 11:31] pandeatul27 commented on #19
@Arun9739  Can I work on this issue under hactoberfest??

[2022-10-03 11:38] kanishk6103 commented on #18
I can fix it

[2022-10-03 11:47] Sas2k commented on #12
Hello @Arun9739, Would you mind Assigning me this issue please.
I'm a Hobbyist Full-Stack Developer.

[2022-10-03 11:47] kanishk6103 commented on #12
I already fixed it with the navbar issue #18

[2022-10-03 11:49] Sas2k commented on #12
nice.

[2022-10-03 11:59] DarlsyLida commented on #6
I am requesting to work on this

[2022-10-03 12:06] ankur0904 opened #22 "Improve the UI of the website"
I'll improve the UI of the web page

[2022-10-03 12:07] BiswajitSahoo-tech opened #23 "Sending email by clicking SUBMIT NOW button on contact.html"
**Is your feature request related to a problem? Please describe.**

Till now submit button on the contact page does not do anything, like it should send the message to somewhere e,g- mail inbox, right

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

My solution is to upon clicking the SUBMIT NOW button an email should be sent to the concerned autho

[2022-10-03 12:07] BiswajitSahoo-tech commented on #23
Please assign this to me @Arun9739
Thanks

[2022-10-03 12:08] vaibhavsharma1234 opened #24 "Improving ui of the card"
The ui of the card can be improved
I can improve by giving them a tilt effect and also giving some hover effects making the card little interactive
![Screenshot_20221003_173706](https://user-images.githubusercontent.com/96341386/193572943-4ec41a7e-825c-4d7e-b609-9647f3e491e2.jpg)

**Screenshots**

[2022-10-03 12:08] Arun9739 commented on #4
Go ahead @Swastik1710
Show your love by starring the repo 🌟

[2022-10-03 12:09] NateNear opened #25 "Adding links to the social media icons"
Please allow me to add links to the social media icons present in the "About" section and the "Who we are" section.
![issue3](https://user-images.githubusercontent.com/92938055/193573228-b26899b0-70ab-4603-8dcf-0f5d984b1662.PNG)

[2022-10-03 12:10] Arun9739 commented on #4
@amanchoudhary18 and @abhishekpatil4 thank foryour interest
Please create another issue or look for other issue 😃

[2022-10-03 12:11] Rituraj-13 commented on #25
Hey @Arun9739 I want to work on this, can you please assign me for this?

[2022-10-03 12:14] NateNear opened #27 "Adding navigation arrows to the cards in about section."
Please allow me to add arrow for changing the cards in the "About" section for enhanced user experience.
![issue2 2](https://user-images.githubusercontent.com/92938055/193573984-783ae51b-dd95-4775-87de-3df0fe47fe6a.PNG)

[2022-10-03 12:15] Arun9739 commented on #6
Go ahead @JadugarKalakaboola
Show your love by starring the repo. 😃

[2022-10-03 12:18] ojninja16 commented on #8
Hey @Arun9739, I would like to work on this issue...

[2022-10-03 12:18] JadugarKalakaboola commented on #6
@Arun9739 Thank you for assigning this work to me. I'll submit my pull request tonight :)... If you have any logo you want to add, do share it with me.

[2022-10-03 12:18] Arun9739 commented on #6
@DarlsyLida, @abhishekpatil4 and @ojninja16 thank you for your interest
Show your support by starring the repo.

[2022-10-03 12:20] Arun9739 commented on #7
Go ahead @Sidd2024
Show your love by starring the repo 🤩

[2022-10-03 12:22] Arun9739 commented on #7
@abhishekpatil4, @JadugarKalakaboola and @ojninja16 please look for other issues or create new issues.
Show your love by starring the repo 🌟

[2022-10-03 12:25] Arun9739 commented on #8
@Sidd2024, @abhishekpatil4  and @ojninja16 thank for your interest
Please look for other issues or create new issues.
Till then star the repo 🤩

[2022-10-03 12:29] Arun9739 commented on #9
Go ahead @itsEobard2025
Great idea 🤩
Show your ❤️ by starring the repo.

[2022-10-03 12:35] Arun9739 commented on #11
Go ahead @asphalke07

Please redirect to :
Twitter - https://twitter.com/arunnayakg7
For other social media coounts just redirect it to respective social media websites.

Show your love by starring the repo 🤩

[2022-10-03 12:35] kanishk6103 commented on #6
Unrelated to this issue, but can you verify my PRs for issue #18  and issue #12
also can you kindly mark them as hacktoberfest? Thank you :)

[2022-10-03 12:36] Arun9739 commented on #11
@Johnoris and @abhishekpatil4 please look for other issues or create your own issues
Thank for your interest
Show your love by starring the repo 🌟

[2022-10-03 12:42] Ravenn57 commented on #6
I want to contribute ,Please assign this work

[2022-10-03 12:43] Arun9739 commented on #12
Go ahead @asphalke07
Show your love by starring the repo 🌟

[2022-10-03 12:45] kanishk6103 opened #28 "The navbar is fixed, to help user access it even after scrolling, it needs to be static on the viewport"
*What is the bug**
The navbar is fixed and disappears as the user scrolls beyond the viewport and needs to be fixed.

**Expected behavior**
The navbar should move along as the user scrolls

**Screenshots**
![image](https://user-images.githubusercontent.com/72643990/193579761-99d666ad-8d33-4b8b-a573-3a9948e43b89.png)

**Additional context**
Add any other context about the problem here.

[2022-10-03 12:46] kanishk6103 commented on #28
can you assign this issue to me now with the label? @Arun9739

[2022-10-03 12:48] Arun9739 commented on #12
@abhishekpatil4, @Sas2k, @kanishk6103 please look for new issues or create your own issues.
Thank for your interest 😃
Show your love by starring the repo 🤩

[2022-10-03 12:50] Arun9739 commented on #13
Go ahead @Swastik1710
Please show your love by starring the repo 🤩

[2022-10-03 12:51] Arun9739 commented on #13
@abhishekpatil4 Thank for your interest
Please look for other issues or create your own issues
Show your love by starring the repo 🤩

[2022-10-03 12:54] Arun9739 commented on #14
Go ahead @Swastik1710
Show your love by starring the repo 🤩

[2022-10-03 12:56] Arun9739 commented on #14
@abhishekpatil4 plesae create new issue or look for other issues
Show your love by starring the repo 🌟

[2022-10-03 12:57] pandeatul27 opened #30 "Adding social media links to the card in Contact page"
**Is your feature request related to a problem? Please describe.**
The Social media buttons on the card of the Contact page don't work.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I can add links to those buttons.
**Screenshots**
<img width="960" alt="2022-10-03 (1)" src="https://user-images.githubusercontent.com/94844506/193582045-4815c1d7-f1f9

[2022-10-03 12:57] pandeatul27 commented on #30
Allow me to work on this issue under hacktoberfest.

[2022-10-03 12:59] Arun9739 commented on #15
@Utkarsh212 Go ahead
Great idea 🤩
Show your support by starring the repo 🌟

[2022-10-03 13:02] emepuchades commented on #16
If you want, you can assign the issue

[2022-10-03 13:06] Arun9739 commented on #16
@emepuchades Thank you for your interest
But the reviews are present under testimonial in about section
You can update that tesimonial section by creating new issue

Show your love by starring the repo 🌟

[2022-10-03 13:06] #16 closed

[2022-10-03 13:07] Arun9739 commented on #16
@emepuchades, @navya-Singla-1-3-0-9 plesae create new issue or look for other issues.
Till then star the repo ⭐

[2022-10-03 13:10] NateNear opened #32 "Paryatana header linking to home."
I noticed that clicking on the "Parytana" header does nothing. So, I would like to add a ref to "Home" page everytime a user clicks on it.
please allow me to do the addressed changes
![Issue3 2](https://user-images.githubusercontent.com/92938055/193585105-5388ec63-48aa-40e8-9871-3f1f8bb99562.PNG)

[2022-10-03 13:11] Arun9739 commented on #18
@MridulTi Go ahead
Please show your love by starring the repo 🌟

[2022-10-03 13:11] Arun9739 commented on #18
@kanishk6103 Please look for other issue or create new issue.
Please show your love by starring the repo 🤩

[2022-10-03 13:12] amananand917 opened #33 "Adding footer in home page."
**Is your feature request related to a problem? Please describe.**
 every page should contain footer which consist contact details, other features and all social media links.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**

[2022-10-03 13:13] Arun9739 commented on #19
Go ahead @pandeatul27
Please show your love by starring the repo 🌟

[2022-10-03 13:14] kanishk6103 commented on #18
Sir, i have already solved this issue you just have to review the PR. Can you kindly please check it?

[2022-10-03 13:18] Arun9739 commented on #22
@ankur0904 Thank you for your support 🤩
This issue has been already created by other one and has been assigned to him.
Please look for other issues or create new issues

Show your love by starring the repo 🌟

[2022-10-03 13:18] #22 closed

[2022-10-03 13:21] NateNear opened #34 "Adding Favicon to your website."
I noticed that your website has no **Favicon**.
So, I would like to add a **Favicon** to your website which would help  enhance the user view.
![Issue4 2](https://user-images.githubusercontent.com/92938055/193588153-447e11fb-f031-4dba-b8e8-445f50b5d511.PNG)

[2022-10-03 13:28] NateNear opened #35 "Alignment of blocks in Contact page"
I noticed that the under the "Contact us" section the blocks and the social media icons aren't aligned correctly.
Please allow me to make the appropriate changes to make them look proper and perfectly aligned.
![issue5 2](https://user-images.githubusercontent.com/92938055/193589469-249ef318-dd74-4fa5-a7e4-85c57270205d.PNG)

[2022-10-03 13:29] Arun9739 commented on #23
Go ahead @BiswajitSahoo-tech
Star the repo 🌟 to showacse your love

[2022-10-03 13:31] Arun9739 commented on #24
Go ahead @vaibhavsharma1234
Show your love by starring the repo 🤩

[2022-10-03 13:34] MridulTi commented on #18
please , do let me know where this issue goes, then only I will make the PR

[2022-10-03 13:37] Arun9739 commented on #25
@Rituraj-13 Thank you for your interest.
But this issue is alreday present and assigned to someone else.
Please create new issue or look for other issue.

Please show your love by starring the repo

[2022-10-03 13:38] #25 closed

[2022-10-03 13:45] aishwarya1735 commented on #33
can this issue be assigned to me?

[2022-10-03 13:46] Arun9739 commented on #28
@kanishk6103 Thank for creating an issue.
But there are already issues present on the navbar.
Please create new issue or look for others.

Star the repo 🌟 to showcase your love.

[2022-10-03 13:46] #28 closed

[2022-10-03 13:53] Arun9739 commented on #30
@pandeatul27 Thank you for issue.
But the issue is alreday present and has been assigned to someone else.
Create new issue or look for other issues

Show your love by starring the repo 🤩

[2022-10-03 13:53] #30 closed

[2022-10-03 13:54] kanishk6103 commented on #32
i can do it

[2022-10-03 13:55] Arun9739 commented on #32
Go ahead @NateNear
Show your love by starring the repo 🌟

[2022-10-03 13:56] Arun9739 commented on #32
@kanishk6103 Please look for other issues or create new issue.
Show your love by starring the repo 🌟

[2022-10-03 13:58] Arun9739 commented on #33
@amananand917 Go ahead
Show your love by starring the repo 🌟

[2022-10-03 13:59] Arun9739 commented on #33
@aishwarya1735 Thank you for your interest
Please look for other issue or create your own issue.
Till then showcase your love by starring the repo 🌟

[2022-10-03 14:43] Chaitanya-087 commented on #35
hi! i would like to work on this issue

[2022-10-03 14:44] Arun9739 commented on #6
@JadugarKalakaboola please put the logo whichever suits you best. Also add the logo as favicon.

[2022-10-03 14:45] Arun9739 commented on #6
@Ravenn57 Thank you for your interest.
Please look for other issues or create new issues.

Show your love by starring the repo 😃

[2022-10-03 14:47] SujalSamai opened #37 "Hero Section in Mobile Layout Can be Improved"
**Is your feature request related to a problem? Please describe.**
Currently the hero section in each page of website looks very small to make a proper impact on the visitors of the website. This can be improved with better height and readability added in these sections.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like to increase the he

[2022-10-03 14:48] #34 closed

[2022-10-03 14:57] Swastik1710 commented on #4
Sure @Arun9739, thanks for assigning.

[2022-10-03 14:57] Swastik1710 commented on #14
Thanks @Arun9739 , I'll get to it.

[2022-10-03 14:58] Rashmisingh-18 opened #39 "Adding Favicon"
**Is your feature request related to a problem? Please describe. **
Want to add favicon

**Describe the solution you'd like**
Favicon help users remember their site while browsing through multiple URLs, so they must be included.

**Screenshots**
https://img.icons8.com/fluency/2x/trave-diary.png

[2022-10-03 14:58] Swastik1710 commented on #13
Thanks @Arun9739, I'll get to it.

[2022-10-03 15:03] mnamesujit commented on #39
Hi @Arun9739 I would like to contribute on this issue can you assign me this issue.

[2022-10-03 15:03] Arun9739 commented on #35
@Chaitanya-087 Please look for other issue or create your own issue

Star the repo 🌟 to show your love.

[2022-10-03 15:10] #7 closed

[2022-10-03 15:13] kanishk6103 opened #41 "Overall navbar improvements"
*What is the bug**
The navbar looks very basic, it needs to be improves so that it looks more presentable.

**Expected behavior**
Making it look visually more appealing and adjusting height of the elements.

[2022-10-03 15:14] kanishk6103 commented on #41
So, i wanted to add a little styling to the navbar so that it looks better and more visually appealing.

[2022-10-03 15:26] kishanlalchoudhary commented on #39
Hi @Rashmisingh-18  can you assign me this task

[2022-10-03 15:36] MridulTi commented on #18
@Arun9739 This is to inform you that I have made the desired changes kindly review it

[2022-10-03 16:00] riddhitech commented on #33
I would like to contribute , please assign me.

[2022-10-03 16:05] Z3RO-O opened #44 "UI improvements and Styling"
*A particular color theme should be followed all over.
** divs are coinciding with the carousel and color combinations can be improved box shadow can be added to each box.
*** better fonts can be used.

[2022-10-03 16:05] Z3RO-O commented on #44
Please assign this issue to me

[2022-10-03 16:07] riddhitech commented on #3
I would like to contribute , please assign

[2022-10-03 17:19] RathoreAbhiii opened #46 "Add a cool CSS effect or an image near Contact Us form."
**Is your feature request related to a problem? Please describe.**

The left side of the form on the Contact page looks empty and does not give a good look to the aesthetics of the website.

**Describe the solution you'd like**

I would like to add a cool CSS effect or an image that keeps in check with the aesthetics of the website.

**Screenshots**
![Screenshot-101](https://user-images.githubuser

[2022-10-03 17:19] RathoreAbhiii commented on #46
@Arun9739 Could you please assign me this issue? I would like to work in it. Thanks!

[2022-10-03 17:28] Joshua-Nweze commented on #39
Hi @Arun9739 please assign me this task

[2022-10-03 18:04] prathimacode-hub opened #49 "Create a Blog Section for Paryatana"
**Is your feature request related to a problem? Please describe.**
Adding a blog section will be a go-to inspiration for travelers to come out of their comfort zone

**Describe the solution you'd like**
Inclusion of blog section will make things easier for explorers to get a predefined insights on travel information on visa, flights, restrictions, useful information, making navigation easier and m

[2022-10-03 18:14] ShrutiMishra-2002 opened #50 "Would like to work on the structuring and documentation of the project"
The core of a project is documentation through which people get to know about a particular project .
As the project is not having a proper documentation i would like to work on it .
Kindly assign it to me @Arun9739

[2022-10-03 18:18] InquisitiveMe15 opened #51 "Incorrect spelling of "Paryatana" in the navbar of contacts page"
*What is the bug**
Incorrect spelling of "Paryatana" in the navbar of contacts page. It is written as "Parytana"

**Expected behavior**
It should be "Paryatana"

**Screenshots**
<img width="946" alt="image" src="https://user-images.githubusercontent.com/85685489/193649698-426a1c4e-26aa-42a3-93ff-a440e72d12c5.png">

**Additional context**
Not any

[2022-10-03 18:48] Arun9739 commented on #37
@SujalSamai Go ahead !!
Show your support by stargazing the repo 🌟

[2022-10-03 19:00] Arun9739 commented on #39
@mnamesujit, @Rashmisingh-18, @Joshua-Nweze, @kishanlalchoudhary Thank you for your interest
But the issue is already present and assigned to someone else.
Please create new one or look for other issues.

Show your love by starring the repo 🌟

[2022-10-03 19:00] #39 closed

[2022-10-03 19:21] cTahirih opened #58 "Improve styles nav header"
The header has a few mistakes in mobile like a on scroll only de menu hamburger is fixed .
![image](https://user-images.githubusercontent.com/32286691/193660321-b4964f6d-6926-4282-a10a-e8f52cc87d7c.png)
in desktop de menu nav is not aligned
![image](https://user-images.githubusercontent.com/32286691/193660573-6ade23a7-57a9-4633-8f53-38a63bfbd4fb.png)

**Expected behavior**
The menu in mobile and d

[2022-10-03 19:21] cTahirih commented on #58
I can take this issue

[2022-10-03 20:46] Pargat-Dhanjal opened #59 "Add Preloader and Favicon to the Website"
**Is your feature request related to a problem? Please describe.**
The website currently has no Favicon or Preloader. Many Modern Websites have this functionality.

**Describe the solution you'd like**
I would like to add a Preloader and a Favicon which Matches the current theme and purpose of the website

**Screenshots**
<img width="155" alt="Screenshot 2022-10-04 at 2 16 17 AM" src="https://user

[2022-10-04 06:10] pandeatul27 opened #62 "Images in Popular packages of Home page"
*What is the bug**
A clear and concise description of what the bug is.
The images to respective places mentioned in the popular packages are irrelevant.
**Expected behavior**
A clear and concise description of what you expected to happen.
I can add relevant images to it
**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="960" alt="2022-10-04 (5)" src="https://u

[2022-10-04 06:11] pandeatul27 commented on #62
Allow me to work on this issue under hacktoberfest

[2022-10-04 06:26] pandeatul27 opened #63 "Boxes in Our Tours section of Our Tours page are not aligned"
*What is the bug**
A clear and concise description of what the bug is.
Boxes  in Our Tours section of Our Tours page are not aligned
**Expected behavior**
A clear and concise description of what you expected to happen.
Boxes should be aligned to give an aesthetically pleasant look
**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="960" alt="2022-10-04 (6)" src

[2022-10-04 06:27] pandeatul27 commented on #63
Allow me to work on this issue under hacktoberfest

[2022-10-04 08:01] #18 closed

[2022-10-04 08:06] Arun9739 commented on #41
@kanishk6103 Thank you for your interest
But the navbar issue is already present and has been assigned to someone else
Please look for other issues or create new issues

Show your support by starring the repo 😄

[2022-10-04 08:06] #41 closed

[2022-10-04 08:08] Arun9739 commented on #3
@riddhitech please look for other issues or create new issues
Show your support by starring the repo 🌟

[2022-10-04 08:08] #3 closed

[2022-10-04 08:44] #51 closed

[2022-10-04 09:05] Arun9739 commented on #44
@Z3RO-O go ahead
Show your support by staring the repo 🌟

[2022-10-04 09:08] Arun9739 commented on #46
@RathoreAbhiii there is one google map at that place.
Please fix that map instaed of adding a image.
Put a location of any place in INDIA

Show your support by starring the repo 🌟

[2022-10-04 09:10] Arun9739 commented on #49
Go ahead @prathimacode-hub
Good idea 👍

Show your support by starring the repo 🌟

[2022-10-04 09:12] Arun9739 commented on #50
@ShrutiMishra-2002 Go ahead
Make a prooper structured documentation

Show your love by starring the repo 🌟

[2022-10-04 09:21] Z3RO-O commented on #44
ok

[2022-10-04 09:22] Arun9739 commented on #58
@cTahirih The nav bar in desktop view is almost fixed by someone else.
Please do check it once.
You can try to improve mobile view.

Show your support by by starring the repo 🌟

[2022-10-04 09:25] Arun9739 commented on #59
@Pargat-Dhanjal just add the preloader
Adding favicon is assigned to someone else

Show your love by starring the repo 🤩

[2022-10-04 09:35] #4 closed

[2022-10-04 09:36] #13 closed

[2022-10-04 11:13] RathoreAbhiii commented on #46
Alright! Will try my best.

[2022-10-04 11:18] Debajyoti111 opened #65 "The Contact Section Can Be Made Center Aligned"
**Is your feature request related to a problem? Please describe.**
The contact section of the page looks odd since it's right aligned and the small icons are left aligned.
**Describe the solution you'd like**
The Contact section will be center aligned and the icons will be place right beneath it making the readability and overall design of the website a lot better.

**Screenshots**
![c](https://us

[2022-10-04 11:19] Debajyoti111 commented on #65
Please Assign this issue to me!

[2022-10-04 12:00] Akayush-17 opened #66 "Adding style to About Us section"
Adding animation to the team cards
![Screenshot 2022-10-04 172750](https://user-images.githubusercontent.com/94730528/193813866-3ca41f84-72a0-4d01-b5a4-a88d68200b0e.png)

**Screenshots**

[2022-10-04 13:47] MridulTi opened #67 "Making Logo clickable and no Home button on other pages"
## Is your feature request related to a problem? Please describe.**
I have seen that the logo of the website change color on hover but does not switch back to the home page on click
## Describe the solution you'd like**
#### A clear and concise description of what you want to happen.
For this, I would like to make the Logo clickable so that on clicking it the page change to Home page, and to make

[2022-10-04 15:00] Arun9739 commented on #62
Go ahead @pandeatul27
Show your support by starring the repo 🌟

[2022-10-04 15:02] Arun9739 commented on #63
Good catch @pandeatul27
Go ahead 👍
Show your support by stargazing the repo 🌟

[2022-10-04 15:29] #65 closed

[2022-10-04 15:34] Arun9739 commented on #67
Go ahead @MridulTi
Good idea 👍
Plz star the repo to showcase your love 🤩

[2022-10-04 15:41] Arun9739 commented on #12
@asphalke07 As this issue was resolved by someone else under some other issue number, this issue will be closed.
Please look for other issues or create new issue.

[2022-10-04 15:41] #12 closed

[2022-10-04 15:42] #23 closed

[2022-10-04 15:57] Arun9739 opened #69 "Add Indian rupees symbol instead of dollor symbol"
**Is your feature request related to a problem? Please describe.**
- You need to add Indian rupees symbol wherever Dollar symbol is there.

**Describe the solution you'd like**
- Change all the dollor symbols to Rupee symbol.
- Change the price also accordingly(put any approximation value)

**Screenshots**

![image](https://user-images.githubusercontent.com/84305637/193867702-13777cac-caef-4bd6-86

[2022-10-04 15:58] najeebkp commented on #69
hi @Arun9739  please assign me

[2022-10-04 15:59] AnkitaMalik22 commented on #69
i would love to work on this issue. please assign me !

[2022-10-04 16:07] Arun9739 opened #70 "Adding functionality to Check now button in home and toors page"
**Is your feature request related to a problem? Please describe.**
- After clicking Check now button user should be able to book the room or car.

**Describe the solution you'd like**
- You can create another page or make booking in the same page.
- Have simple booking procedure.
- You can add payment also
- Add some random hotel, car names.

**Screenshots**
![image](https://user-images.githubuser

[2022-10-04 16:08] joanjeremiah commented on #70
I would like to solve this issue. Kindly assign this to me.

[2022-10-04 16:08] Arun9739 commented on #69
@najeebkp Go ahead
Please star the repo ⭐ to show your support.

[2022-10-04 16:09] Arun9739 commented on #69
@AnkitaMalik22 look for other issue or create new issues
Please star the repo to show your support 🤩

[2022-10-04 16:10] Arun9739 commented on #70
@joanjeremiah Go ahead
Please star the repo 🌟 to show your support

[2022-10-04 16:14] #67 closed

[2022-10-04 16:30] HridoyHazard opened #73 "Add Hover Effect On Image [Place You Most Visit Section]"
Add Hover Effect On Image [Place You Most Visit Section]

plz assign me this task i can do it

[2022-10-04 16:33] Rashmisingh-18 opened #74 "Improving Footer"
*What is the bug**
Improving the footer, fixing those social media icons in the footer.

**Expected behavior**
Want to add services , contact, and social media icons in footer
![Parytana - Contact and 9 more pages - Personal - Microsoft​ Edge 04-10-2022 9 57 37 PM](https://user-images.githubusercontent.com/90052358/193874806-2e6a5a63-f00c-4cdc-a4d6-004eb5d213b0.png)

**Screenshots**

**Additional

[2022-10-04 16:33] Rashmisingh-18 commented on #74
Please assign this issue to me under Hacktoberfest 2022.

[2022-10-04 18:05] #19 closed

[2022-10-04 18:15] #62 closed

[2022-10-04 18:19] #32 closed

[2022-10-04 20:26] Swastik1710 opened #80 "NavBar acts differently in different pages on smaller devices."
*What is the bug**
A clear and concise description of what the bug is.
The NavBar doesn't show the home link on other pages and it is placed differently on other pages than the home page. This happens on smaller devices screen.
**Expected behavior**
A clear and concise description of what you expected to happen.
The navbar should be seen at the same place on all pages and all devices.
**Screenshot

[2022-10-04 20:26] Swastik1710 commented on #80
I'd like to work on this issue, kindly assign it to me.

[2022-10-04 21:52] asphalke07 commented on #74
I can do it too.
Till now i have solved 2 issues of this Repository, So i have good knowledge of my Tech Stack and Github contribution.

[2022-10-05 06:34] NateNear opened #83 "Adding links to the social media icons under "who we are" section"
In the "About" page under the "Who we are" section, I noticed that the social media icons have no links assigned to it.
Please allow me to add the links to the respective icons.
![issue 1 4](https://user-images.githubusercontent.com/92938055/193995991-817c0cd3-28b8-4f38-81dd-5f38fc035fe3.PNG)

[2022-10-05 07:03] imdebamrita opened #84 "Adding the links in CONTACT FOR TOURS section"
In the "Contact" page under the "CONTACT FOR TOURS" section, the social media icons have no links assigned to it.

Please allow me to add the links to the respective icons.

![Screenshot 2022-10-05 122645](https://user-images.githubusercontent.com/108591503/194000200-9e5a7d16-e668-4732-9f18-a001e8ee709f.png)

[2022-10-05 07:26] RathoreAbhiii commented on #46
I have fixed the map and added a pointer as well, the CSS for the map can be customised as suited. The PR still has some merge conflicts, since I am new to Open Source, I hope you understand and I don't think that should be a big problem. Please review the PR and merge it at the earliest! I had a great time working on this issue as I really learned a lot of things. Thanks!

[2022-10-05 08:09] AryanSahoo-2003 opened #88 "Comment Section"
**Is your feature request related to a problem? Please describe.**

Hello! I think it would increase the interactivity of your website if you add comment section in addition to testimonials so as other people can read that feedback or can question them in that comment (nested comment)
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I can add comment

[2022-10-05 08:24] #69 closed

[2022-10-05 08:27] Arun9739 commented on #73
@HridoyHazard Go ahead
Show your support by starring the repo 🌟

[2022-10-05 08:29] Alam9835 commented on #73
I want to work on this issue

[2022-10-05 08:32] Alam9835 opened #89 "Improve header"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**
I want to improve the UI of the header section.

[2022-10-05 08:37] #66 closed

[2022-10-05 08:57] #59 closed

[2022-10-05 08:58] Arun9739 commented on #74
Thank you @asphalke07 and @Rashmisingh-18 for your interest
But this issue is alreday present and  has been assigned to someone else
Please create new issue or look for other issues presesnt.

Star the repo 🌟  to show your support.

[2022-10-05 08:58] #74 closed

[2022-10-05 09:45] Arun9739 commented on #80
@Swastik1710 Go ahead
Star he repo to show your love 🌟

[2022-10-05 09:47] Arun9739 commented on #83
Go ahead @NateNear
Show your support by stargazing the repo 🌟

[2022-10-05 10:17] aparna03dubey commented on #88
I want to contribute , please assign this to me.

[2022-10-05 10:37] NateNear commented on #83
Can you please send me the links to add, or should I add default links to them.

[2022-10-05 11:54] sumitkr2000 opened #92 "Improving navbar"
Hey @Arun9739 I want to improve the navbar of your website. I want to add icons and also the right part of navbar is not aligned to the page which is looking odd. I can fix it. Can you please assign me this issue. Thank you!

![Screenshot (355)](https://user-images.githubusercontent.com/100675296/194054533-54ccaaba-bc83-4286-b495-9350e0dc5519.png)

[2022-10-05 12:02] MayaSatishRao opened #93 "Improving the Navbar and Contact page"
**What is the bug**
Navbar in About,  Contact and Our tours page does not have home in the navbar. The form in the Contact page is not centered.

**Expected behavior**
Navbar should remain the same in all pages and form must be centered.
![g2](https://user-images.githubusercontent.com/67920373/194055830-11f8fe35-6787-4d8a-9e4d-0cf601999745.png)
![g3](https://user-images.githubusercontent.com/67920

[2022-10-05 13:25] THE-AryanKumar opened #95 "Enhancement on theme of website and adding Dark-Mode."
I want to work on : -

- Improving the Navbar.
- Adding Dark-Mode toggle.
- Making it more Professional.
- Adding proper content and removing Lorem.
- Making the site more Interactive and Responsive

Can you pls. /assign this issues to me.

[2022-10-05 13:53] Tobshub opened #96 "Use of hardcoded values"
**Is your feature request related to a problem? Please describe.**

The links on the home page have hardcoded positions.

**Describe the solution you'd like**

This can be rectified by using a flexbox on them, I have tested this in the browser and I believe I can fix this.

**Screenshots**

![image](https://user-images.githubusercontent.com/108701007/194077777-75d93dad-d8d1-4564-90fa-33fe9c58401e.

[2022-10-05 14:42] Naushad-dev opened #97 "Smooth Animation"
https://user-images.githubusercontent.com/106610708/194085955-36eda083-cc5e-443a-8523-e1c976689251.mp4
Hello, hope you are well I would like to contribute to this project by making this animation in the **WHO WE ARE section** more smooth which will make UI look better.
Thank you for your time.😊

[2022-10-05 14:52] aishwarya1735 commented on #89
Can this issue be assigned to me?

[2022-10-05 14:56] AnkitaMalik22 opened #99 "Add favourite Place Section"
**Is your feature request related to a problem? Please describe.**
Add favourite Place Section

**Describe the solution you'd like**
create a new nav link that shows the places you liked

**Screenshots**
![Screenshot (81)](https://user-images.githubusercontent.com/80139836/194092464-8c96c70a-1e6b-43bc-ad2b-3619663beff8.jpeg)

[2022-10-05 15:18] WonderSTK opened #101 "Use other font style"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**

[2022-10-05 15:19] WonderSTK commented on #101
Use open sans or deferent font style

[2022-10-05 15:29] Anurag-Singh-04 commented on #92
Hey @Arun9739 I have made some changes in the navbar, hope you like it.
Before :
<img width="1440" alt="Screenshot 2022-10-05 at 8 53 22 PM" src="https://user-images.githubusercontent.com/97782687/194099904-ce44d544-2fdd-4a74-b0bf-69f8b0bac83b.png">

After :
<img width="1440" alt="Screenshot 2022-10-05 at 8 53 07 PM" src="https://user-images.githubusercontent.com/97782687/194100002-483df41d-1bc4-4

[2022-10-05 15:34] Arun9739 commented on #83
@NateNear Add default links

[2022-10-05 15:57] rtewari056 opened #102 "Improve copyright section"
**Is your feature request related to a problem? Please describe.**
There should be a developer profile link attached with the developer name in the copyright section.

**Describe the solution you'd like**
When a user click on the name, it will redirect to the LinkedIn/GitHub profile of the developer.

**Screenshots**

![improve](https://user-images.githubusercontent.com/75976169/194105433-efc1a574

[2022-10-05 16:19] aniketsinha2002 opened #104 "Add Trendy Card Design"
**Is your feature request related to a problem? Please describe.**
Add Trendy Card Design

**Describe the solution you'd like**
Want to change the basic card's design to a new trendy card design.

**Screenshots**
![image](https://user-images.githubusercontent.com/97850511/194110829-e84bdd14-a006-43b0-902b-642ee0c42f5c.png)

[2022-10-05 16:24] Arun9739 commented on #84
Go ahead @imdebamrita
Show your support by stargazing the repo 🌟

[2022-10-05 16:33] Arun9739 commented on #88
Go ahead @AryanSahoo-2003
Design the comment section as you feel the best
Show your support by stargazing the repo 🌟

[2022-10-05 16:35] Arun9739 commented on #88
@aparna03dubey Please look for other issues or create new issues
Show your support by starring the repo ⭐

[2022-10-05 16:36] Arun9739 commented on #89
Go ahead @aishwarya1735
Show your support by starring the repo 🌟

[2022-10-05 16:38] Arun9739 commented on #89
@aishwarya1735 Plz look for other issues or create new issues
Show you support by stargazing the repo 🌟

[2022-10-05 16:38] AryanSahoo-2003 commented on #88
Sir, also in "Contact " page, left hand side is a bit empty which I don't know why but I think it should be filled up with some video or gif or photos...Could you check that if I can open new pull request and resolve that?

[2022-10-05 16:39] swastik-bose007 opened #105 "Want to fix the responsiveness of tour package cards"
*What is the bug**
**The tour cards in home page are not responsive in the width range 600px to 1000px**

**Expected behavior**
Tour cards should be either in col-6 col-6 form in tablet view or col-12 both.

**Screenshots**
![image](https://user-images.githubusercontent.com/98341839/194114462-26fdb3b1-dcfa-4cb5-a20a-1eb3f8308797.png)

[2022-10-05 17:01] moinmulla opened #106 "Properly organizing copyright section"
**Is your feature request related to a problem? Please describe.**
There should be proper spacing ,new line for creator's name,social media links with it's icons and little bit bigger area for copyright section

**Describe the solution you'd like**
Properly organize the copyright section that would be eye catching for the user.

[2022-10-05 17:29] itzwow commented on #2
If the issue still pending I would love to work on  the issue.
Can you kindly assign me @Arun9739

[2022-10-05 17:31] Arun9739 commented on #92
Go ahead @sumitkr2000
Show your support by starring the repo ⭐

[2022-10-05 17:33] Arun9739 commented on #92
@Anurag-Singh-04 Plz look for other issues or create new issues
Show your support by starring the repo 🌟

[2022-10-05 17:35] Arun9739 commented on #93
@MayaSatishRao This issue is alreday present and has been assigned to someone else
Plz create new issues or look for other issues
Show your support by starring the repo 🌟

[2022-10-05 17:35] #93 closed

[2022-10-05 17:50] itzwow opened #107 "Customizing the buttons in the home screen"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Adding border radius to the buttons in the home screen to make the UI better

**Screenshots**
![issue1](https://user-images.githubusercontent.com/84179065/194127397-08c1c5b6-8036-4abf-969f-aebda714ec00.JPG)

[2022-10-05 18:22] sumitkr2000 commented on #92
@Arun9739 Thank you for approving

[2022-10-05 18:31] Arun9739 commented on #95
@THE-AryanKumar You have the good idea
Except the dark mode you can work on other aspects which you mentioned over there
Plz don't work on dark mode as it has been assigned to someone else

Star the repo ⭐ to showcase your love.

[2022-10-05 18:31] Arun9739 commented on #95
@THE-AryanKumar You have the good idea
Except the dark mode you can work on other aspects which you mentioned over there
Plz don't work on dark mode as it has been assigned to someone else

Star the repo ⭐ to showcase your love.

[2022-10-05 19:00] Arun9739 commented on #96
Go ahead @Tobshub
Show the love by starring the repo 🌟

[2022-10-05 19:05] Arun9739 commented on #97
Go ahead @Naushad-dev
Star the repo 🌟 to showcase your love

[2022-10-05 19:08] Arun9739 commented on #99
@AnkitaMalik22 Go ahead !!
Star the repo 🌟 to showcase your love

[2022-10-05 19:12] Arun9739 commented on #101
@WonderSTK Go ahead
Plz use proper fonts following some uniformity
Show your support by stargazing the repo 🤩

[2022-10-05 19:45] 17rashi opened #108 "Want to add a beautiful logo to this project and edit hover effects/Animations on cards"
I have designed a beautiful logo for this project and would like to add it. I also want to add hover effects and animations on cards present in the Home, About, and our tours sections to make it more attractive when the cursor moves towards it.

[2022-10-06 02:50] MridulTi opened #111 "Fade on Scroll Animation"
## Is your feature request related to a problem? Please describe.**
The way the content is presented on the website right now is relatively static,
## Describe the solution you'd like**
#### A clear and concise description of what you want to happen.
I would Like to add a fade-in animation on the contents on scroll, as in when the user will scroll towards that content, the content will appear with

[2022-10-06 04:54] ankita-das-26 opened #112 "Logo designing"
please assign me to design a logo that would define the website perfectly!

[2022-10-06 06:53] nipun-das opened #113 "styling images radius"
A slight change in border-radius can improve the UI.
Kindly assign me the issue so that I can work on the project.

[2022-10-06 07:43] Arun9739 commented on #102
@rtewari056 Go ahead
Redirect it to my linkedin page : www.linkedin.com/in/arun-g-nayak

Star the repo ⭐ to show your love.

[2022-10-06 07:56] Arun9739 commented on #104
Go ahead @aniketsinha2002
Show the love by starring the repo 🌟

[2022-10-06 07:58] Arun9739 commented on #105
Good catch @swastik-bose007
Go ahead 👍
Show your support by starring the repo 🌟

[2022-10-06 08:01] Arun9739 commented on #106
@moinmulla Thank you for your interest
But this issue is already present and has been assigned to someone else
Plz look for other issue or create new issue

Show your support by stargazing the repo 🌟

[2022-10-06 08:01] #106 closed

[2022-10-06 08:05] Arun9739 commented on #107
Go ahead @itzwow
Plz apply the effect to all the possible buttons such as book now, check now etc, in all tthe pages

Star the repo 🌟 to showcase our love

[2022-10-06 08:10] #108 closed

[2022-10-06 08:14] incognion opened #115 "Hovering Effect on Images"

[2022-10-06 08:25] Mohammed-Shoaib01 opened #117 "Creating Code of Conduct"
**Is your feature request related to a problem? Please describe.**

I was hoping to contribute the code of conduct for this repository, please assign if possible!

**Describe the solution you'd like**

To create a code of conduct

[2022-10-06 08:35] Arun9739 commented on #111
Go ahead @MridulTi
Show your support by stargazing the repo 🌟

[2022-10-06 10:24] harshpoddar03 opened #120 "Images in readme file"
**Describe the solution you'd like**
add screenshots of the website in the readme file

**Screenshots**
![image](https://user-images.githubusercontent.com/99535640/194289631-91698bec-d922-483c-8c70-a26e8d9a079d.png)

[2022-10-06 12:12] tussharpaul13 commented on #120
May I add screenshots??

[2022-10-06 13:03] Elu007 opened #122 "Navbar Design and Overall page design"
Hello, I have some awesome design ideas with the latest bootstrap 5.1, so if you assign me this task I can make changes for a better look for this website.

[2022-10-06 13:25] 17rashi opened #124 "want to edit these cards and fix favicon bug"
Your cards in the about section are extra vibrant, I want to fix its CSS and will add social media icons.
![image](https://user-images.githubusercontent.com/87816619/194324096-85636f22-e86f-435f-997c-1a99fb003c45.png)

one more thing, In the last issue, I requested the logo. check yours and mine, ones. (Let me know if you like it.)
![White Simple Travel Logo](https://user-images.githubusercontent.

[2022-10-06 14:25] imdebamrita commented on #84
Sir,where do i get the links of your social media sites......?

[2022-10-06 15:02] Rancho2002 opened #125 "Change in mouse effect in about section"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
In the about section, it is better if there is a transition and some hover effect in 'who we are' section.

**Screenshots**

https://user-images.githubusercontent.com/92109154/194348102-924467ab-9be4-42db-b3d3-970d0492c17e.mp4

[2022-10-06 15:03] Rancho2002 commented on #125
@Arun9739 pls assign me the task

[2022-10-06 15:13] Alam9835 commented on #89
i have done the changes please merge my PR #126

[2022-10-06 15:15] Alam9835 opened #127 "Improve footer section"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**
I want to improve the UI of the footer section.

[2022-10-06 16:10] Arun9739 commented on #112
@ankita-das-26 This issue is already present and  has been assigned to someone else
Plz look for other issues or create new issues

Star ⭐ the repo to showcase your love.

[2022-10-06 16:10] #112 closed

[2022-10-06 16:14] Arun9739 commented on #113
@nipun-das Go ahead
Change the border of all possible images

Star the repo ⭐ to show your support

[2022-10-06 16:19] Arun9739 commented on #117
Go ahead @Mohammed-Shoaib01
Try to make it more professional
Show you suport by stargzing the repo 🌟

[2022-10-06 16:23] #120 closed, assigned to nobody

[2022-10-06 16:27] Arun9739 commented on #124
@17rashi The issue related to cards and logo are already present
If you want to work on the favicon issue plz create new issue for that only

Show your support by stargazing the repo 🌟

[2022-10-06 16:27] #124 closed

[2022-10-06 16:30] 17rashi opened #128 "want to fix favicon"
**Favicon is only visible on the home page, when I redirect to some other pages, its not visible there**
I want to edit it, so that it would be visible on every page.

[2022-10-06 16:44] Mohammed-Shoaib01 commented on #117
Okay!

[2022-10-06 19:11] moinmulla opened #133 "Improper copyright section of CONTACT page"
*What is the bug**
Copyright section of CONTACT page is not synchronize.

**Expected behavior**
All the pages must have same copyright section

**Screenshots**
![image](https://user-images.githubusercontent.com/65023937/194398487-e336f1d8-3cc3-4d1c-a7f0-15ebaba2fa45.png)

[2022-10-06 19:12] moinmulla commented on #133
Improper copyright section of CONTACT page which is not synchronize with other

[2022-10-06 19:13] moinmulla commented on #133
Assign me this issue I can improve it and make proper.

[2022-10-06 19:32] THE-AryanKumar commented on #95
@Arun9739 pls review and approve.

[2022-10-06 19:46] Trust-007 opened #135 "Improve who we are cards on about page"
I would love to add a transition effect on the cards in this section. In my opinion the hover effect is too rigid and unappealing. I would like to give it a transition which would make it more user appealing.
![Screenshot (24)](https://user-images.githubusercontent.com/72111684/194404885-07e0da55-3a06-4dd1-8edc-820ba6fc7f29.png)

[2022-10-06 19:47] Trust-007 commented on #135
Please assign this issue to me so i can work on it 🙏 😄

[2022-10-07 04:54] pandeatul27 opened #138 "Footer of contact page has not been styled"
*What is the bug**
A clear and concise description of what the bug is.
The footer of contact page has not been styled and is missing other information
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="960" alt="2022-10-07 (1)" src="https://user-images.githubusercontent.com/

[2022-10-07 04:54] pandeatul27 commented on #138
Allow me to work on this issue under hacktoberfest

[2022-10-07 05:19] Elu007 commented on #122
Thank you for the assignment, I will work on that thank you.

[2022-10-07 12:52] Arun9739 commented on #125
Go ahead @Rancho2002
Show your suuport by stargazing the repo 🌟

[2022-10-07 13:29] #127 closed, assigned to nobody

[2022-10-07 13:33] #117 closed

[2022-10-07 13:34] albetros24 commented on #125
kindly allow me to resolve this issue

[2022-10-07 13:37] Arun9739 commented on #125
@Rancho2002 and @albetros24 Thank you for your interest
But this issue is already present and has been assigned to someone else
Plz look for other issues or create new issues

[2022-10-07 13:37] #125 closed

[2022-10-07 13:45] Arun9739 commented on #133
@moinmulla Thank you for your interest
But this issue is alreday present and has been assigned to someone else

Show your suport by stargazing the repo 🌟

[2022-10-07 13:45] #133 closed

[2022-10-07 13:51] #115 closed

[2022-10-07 14:17] Alam9835 commented on #89
I have made the changes for issue #89

[2022-10-07 14:21] Alam9835 commented on #89
my PR #144

[2022-10-07 15:43] tanvigarg264 commented on #138
Hi! I can work upon this.

[2022-10-07 15:57] heysaiyad commented on #138
sir I am a Front end developer . You give me a chance I will make it very attractive web pages.

[2022-10-07 16:00] heysaiyad commented on #135
Please assign this work to me, bcoz I am a front end developer so I will make it very attractive page.

[2022-10-07 20:04] KAMYAVERMA opened #145 "Wants to add more favourite places"
** Wants to add more favourite places in favourites.html page **

It is basic rn, will make it creative.
Kindly, allow me work on this.

![Screenshot 2022-10-08 013324](https://user-images.githubusercontent.com/85511676/194644267-9e45d701-134c-44a5-84a5-ea8060b09be0.jpg)

HAPPY HACKING.

[2022-10-07 20:23] albetros24 opened #146 "Wants to add footer to the footer page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**

[2022-10-07 20:25] albetros24 commented on #146
Kindly allow me to add footer  to your  contact now page   maintaining   same theme as  in the rest of the pages

[2022-10-08 04:51] ksba2004 commented on #146
@Arun9739 can I work on this? I do have a good knowledge of HTML, CSS, etc.

[2022-10-08 05:21] mahitha09 commented on #146
@Arun9739 Hi Arun, Can you please assign this to me and allow me to work on this issue? You can have a look at my profile for more info. Thanks:)

[2022-10-08 09:58] Proder opened #150 "Improving Icon style in footer section"
Please assign this issue to me...I will do it for you.

[2022-10-08 10:57] creater-shikha commented on #150
assign this issue to me

[2022-10-08 11:59] Arun9739 commented on #135
Go ahead @Trust-007
Plz make the better looking effect
Sorry for delay to assign

Show your love by stargaing the repo 🌟

[2022-10-08 12:01] Arun9739 commented on #135
@priyank003 and @heysaiyad Please look for other issues or create new issues
Show your support by stargazing the repo 🌟

[2022-10-08 12:14] Arun9739 commented on #138
@pandeatul27, @tanvigarg264, @heysaiyad  Thank you for your interest
But this issue is already present and has been assigned to someone else.

Plz look for other issues or create new issues

Star the repo 🌟 to showcase your love.

[2022-10-08 12:14] #138 closed

[2022-10-08 12:27] Arun9739 commented on #145
Go ahead @KAMYAVERMA
Add some creativity over there.

Show your love by stargazing the repo 🌟

[2022-10-08 13:36] 1tsak opened #151 "Hover Effect On Tour Packages In Home & Tour Page"
**Add smooth scale effect while hovering on tour packages on the home and tours page**

*Description*
 The tour packages on the home and tours page should scale up on hover with a smooth transition.

**Screenshots**
![image](https://user-images.githubusercontent.com/42407874/194568548-fc3273ef-4a80-48bd-b980-d5e2a1434faa.png)

[2022-10-08 13:38] Arun9739 commented on #89
Anyone who want to work on this issue can take up.

[2022-10-08 13:46] Arun9739 commented on #146
@mahitha09, @ksba2004, @mahitha09 Thank you for your interest
But this issue is already present
So try to make new issues or look for other issues

Show your love by starring the repo 🌟

[2022-10-08 13:46] #146 closed

[2022-10-08 13:57] Mysterious786 opened #152 "Places you must visit cards and check now box"
Hovering over the cards of **places you must visit the background **is becoming a lot shadowy along in the background with a little bluey at  border also the text inside it is very shinny that becomes little blurry  when the cursor is over the card.
The checknow and other two location boxes should be aligned properly since it just looking like the images are pasted over the banner .

![Screenshot

[2022-10-08 14:32] #111 closed

[2022-10-08 14:38] Arun9739 commented on #150
Go ahead @Proder
Plz star the repo 🌟 to show your love.

[2022-10-08 14:40] Arun9739 commented on #150
@creater-shikha plz create new issues or look for other issues present.
Show your love by stargazing the repo 🤩

[2022-10-08 14:43] Arun9739 commented on #2
@tokyo3001 Plz finish the work early, else issue will be assigned to other.

[2022-10-08 14:44] Arun9739 commented on #2
@itzwow Plz look for other issues or create new issues.
Show your support by stargazing the repo 🌟

[2022-10-08 14:45] Arun9739 commented on #5
@zainbinfurqan Please finish your task early, else it will be reassigned to someone else.

[2022-10-08 14:47] Arun9739 commented on #6
@JadugarKalakaboola Please finishyour task early, else it will be reassigned to someone else.

[2022-10-08 14:49] Arun9739 commented on #9
@itsEobard2025 Try to finish your task early.

[2022-10-08 14:49] #11 closed

[2022-10-08 14:50] Arun9739 commented on #15
@Utkarsh212 Please finish your task early.

[2022-10-08 15:22] goldenPheonix02 opened #154 "Adding box shadow to places cards"
**Describe the solution you'd like**
Adding a pretty box shadow to the places card and also increasing the shadow a bit on hover

**Screenshots**
![image](https://user-images.githubusercontent.com/75632793/194714790-a40dad3a-878e-47bb-b7d2-4fa383a955af.png)

[2022-10-08 15:22] goldenPheonix02 commented on #154
can i work on this?

[2022-10-08 15:34] rajatrai30 commented on #154
assign this task to me. i can easily do

[2022-10-08 15:46] JadugarKalakaboola commented on #6
I am really sorry, I have been really busy these days. I'll definitely do it by tomorrow. If I am unable to do it by tomorrow, you may assign it to someone else.

[2022-10-08 15:48] aditi5050 opened #156 "Changes required POPULAR PACKAGES"
In the section POPULAR PACKAGES, the description of the places mentioned are the same , so a change is required

[2022-10-08 15:49] itsEobard2025 commented on #9
Thanks for reminding me, you can check the PR whenever free 😄

[2022-10-08 15:50] AryanSahoo-2003 opened #157 "social links bug on contact section"
*What is the bug**
A clear and concise description of what the bug is.
The icons of social links is not showing in contact section as well as I think there is no need to add it as in footer section,the links are already present.
**Expected behavior**
A clear and concise description of what you expected to happen.
I think removal of those social links should be appropriate solution as the footer se

[2022-10-08 16:58] creater-shikha commented on #89
can you assign me this issue

[2022-10-08 17:22] KAMYAVERMA opened #161 "Want to add footer to the contact page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
There are footers in home, about and our page but there is no footer in contact which doesn't go wit the theme, want to add footer in the same.

**Screenshots**
![footer aryun](https://user-images.githubusercontent.com/85511676/194719716-0a01abee-42a4-4216-b3dd-04665a06a9f3.jpg)

[2022-10-08 17:24] KAMYAVERMA commented on #161
Will two PR/RM in same repository be counted as 2PRs or 1PR?

[2022-10-08 18:04] Arun9739 commented on #151
@1task Go ahead
Star the repo 🌟 to show your love.

[2022-10-08 18:17] Arun9739 commented on #152
Go ahead @Mysterious786
Show your love by stargazing the repo 🤩

[2022-10-08 18:25] #9 closed

[2022-10-08 18:36] Arun9739 commented on #154
@goldenPheonix02 Go ahead
Show your support by stargazing the repo 🤩

[2022-10-08 18:37] Arun9739 commented on #154
@rajatrai30 Look for other issues or create new issues
Star the repo ⭐ to showcase your support

[2022-10-08 18:56] Arun9739 commented on #89
@creater-shikha Go ahead
Star the repo ⭐ to showcase your love.

[2022-10-08 19:08] zainbinfurqan commented on #5
@Arun9739 working on it.

[2022-10-08 19:12] disha815 commented on #161
hey, can you assign this to me

[2022-10-08 19:28] zainbinfurqan commented on #5
You can assign this to any other,

[2022-10-08 20:01] LoganArnett commented on #157
I created a PR in relation to this issue

[2022-10-08 20:07] NateNear commented on #83
@Arun9739 done

[2022-10-08 20:20] abhishekrd opened #165 "Improve and Refactor the check now card style"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
- In current project, the card for checking the car rentals and hotel is not well aligned with other cards.
- also, the input fields are of old style, I would like to give them a modern css feel.
**Screenshots**
![Screenshot 2022-10-09 014637](https://user-images.githubusercontent.com/88556842/

[2022-10-08 20:21] abhishekrd commented on #165
@Arun9739 can you please assign me this issue

[2022-10-08 22:09] AryanSahoo-2003 commented on #157
Bro ,I don't think it is fine to use other's issue to do a PR even before getting assigned...as I also waited for getting it assigned to me before doing a PR😶

[2022-10-09 02:31] 1tsak commented on #151
Thankyou, Starred Already👍

[2022-10-09 06:45] anirudhsalaria opened #170 "Improving buttons and applying hovering effects"
### Work to be done

1. Wanted to improve the buttons in the website by applying box shadow and enlarge on hovering effect.
2. Wanted to apply enlarge on hovering effect on "Places you must visit" and "Popular places" section.
3. Wanted to improve the "home","about","our tours","contacts" Links provided in the footer section by applying different effects.

Kindly Assign me this task :)

[2022-10-09 08:54] Adi-ty opened #172 "Change design of testimonial section in about page."
I can design testimonial section separately in a carousel like manner
![Screenshot 999](https://user-images.githubusercontent.com/92062352/194747460-15c0d6a1-7a67-4f0e-a6d2-0156d63ea382.png)
which will give a better look to the website.

[2022-10-09 08:57] aditi5050 commented on #156
I think this Issue has been resolved

[2022-10-09 09:52] spiderxp3 opened #173 "update content of about page."
* In about section, content is same and irrelevant with project.

[2022-10-09 09:52] spiderxp3 commented on #173
can I work on this.

[2022-10-09 09:54] spiderxp3 commented on #172
Can I work on this? Assign me

[2022-10-09 12:00] Mysterious786 commented on #152
I will do my best.

[2022-10-09 12:27] #102 closed

[2022-10-09 13:11] Arun9739 commented on #156
@aditi5050 Yes, the issue is resolved.
Please look for other issue or try to create your own issues.

Star the repo 🌟 to show your support.

[2022-10-09 13:11] #156 closed

[2022-10-09 13:48] Arun9739 commented on #157
Go ahead @AryanSahoo-2003
Do the needful changes
Show your support by stargazing the repo ⭐

[2022-10-09 13:52] Arun9739 commented on #161
@KAMYAVERMA and @disha815 There is already a footer in the contact page.
Plz create valid issues or look for other issues.

Show your support by stargzing the repo 🌟

[2022-10-09 13:52] #161 closed

[2022-10-09 14:02] AryanSahoo-2003 commented on #157
Sir! I have made the PR ...please check that in open pull request section

[2022-10-09 15:09] Arun9739 commented on #165
Go ahead @abhishekrd
Show your love by stargazing the repo 🌟

[2022-10-09 15:30] #101 closed

[2022-10-09 15:33] Arun9739 commented on #170
@anirudhsalaria Go ahead
Show your love by stargazing the repo 🌟

[2022-10-09 15:45] #151 closed

[2022-10-09 15:49] #157 closed

[2022-10-09 15:58] #145 closed

[2022-10-09 16:02] Arun9739 commented on #172
Go ahead @Adi-ty
If you design new testimonial then remove the old one

SHow your support by stargazing the repo 🌟

[2022-10-09 16:03] Arun9739 commented on #172
@spiderxp3 Thank you for your interest
Plz look for other issues or create new issues

Star the repo ⭐ to showcase your love.

[2022-10-09 16:05] Arun9739 commented on #173
Go ahead @spiderxp3
Show your support by stargazing th repo 🌟

[2022-10-09 16:07] Arun9739 commented on #173
Go ahead @spiderxp3
Show your support by stargazing th repo 🌟

[2022-10-09 16:08] Arun9739 commented on #173
Go ahead @spiderxp3
Show your support by stargazing th repo 🌟

[2022-10-09 17:28] KAMYAVERMA commented on #145
Thankyou!

[2022-10-09 18:28] jaisinha opened #178 "updating the contact section and the cost"
1)The info in the contact section is gibberish so I will update it
2)Will add commas in the cost

[2022-10-09 18:37] AnirudhHanda opened #180 "To Enhance Footer and give rounded edge corners to containers."
1. Would like to Improve the Footer section to much extent.
2. Want to improve the containers by touching with rounded corners effect.

Would love to work on this Site.

[2022-10-09 19:00] Arun9739 commented on #178
Go ahead @jaisinha
Show your support by stargazing the repo 🌟

[2022-10-09 19:03] Arun9739 commented on #180
Go ahead @AnirudhHanda
Show your support by stargazing the repo 🌟

[2022-10-09 19:32] tokyo3001 commented on #2
@Arun9739 PR #17 has already been merged for this issue 6 days ago.

[2022-10-10 10:14] Trust-007 commented on #135
Thanks @Arun9739 i'll work on it.

[2022-10-10 13:29] AnishKumarGarg commented on #173
can i solve this?

[2022-10-10 13:43] Arun9739 opened #183 "Favourites page is not visible"
*What is the bug**
- There is one page named Favourites., which is after contact page. That is not visible now, due to some problem.

**Expected behavior**
- Favourites.html should appear in navbar.
- Favourites.html is already created, you just need to add the link in navbar.

[2022-10-10 13:51] Tusharjain123 commented on #183
Hey @Arun9739 Can I work on this issue?

[2022-10-10 14:18] musavveer commented on #183
Hey @Arun9739 I would like to work on this issue. Please do assign this issue to me.

[2022-10-10 14:30] Arun9739 commented on #183
@Tusharjain123 Go ahead
Star the repo 🌟 to show your support.

[2022-10-10 14:31] Arun9739 commented on #183
@AnishKumarGarg and @musavveer Thank you for your interest
Plz create new issues or look for other issues present

Leave a star 🌟 to show your love.

[2022-10-10 14:35] #170 closed

[2022-10-10 14:46] Arun9739 opened #184 "Improving the UI of the CONTACT US form"
**Is your feature request related to a problem? Please describe.**
- The contact us form in the Contact page beside the map has very old format. Need to enhance it.

**Describe the solution you'd like**
- You need to make sure that it should align with the map.
- You need to add feature to textfields, buttons etc.

**Screenshots**

![image](https://user-images.githubusercontent.com/84305637/194893

[2022-10-10 14:47] Arun9739 commented on #24
@vaibhavsharma1234 plz finish your task early

[2022-10-10 14:49] Arun9739 commented on #27
@NateNear plz finish your task early

[2022-10-10 14:52] Arun9739 commented on #5
Anyone can take up this issue

[2022-10-10 15:00] creater-shikha commented on #89
I  resolve the issue, can you help me how to create a pull request

[2022-10-10 15:03] AvadhootK opened #185 "Social media links opening in same tab"
*What is the bug**

The social media links in the footer are opening in the same tab. The user has to press "back" button in order to come to the website again.

**Expected behavior**

The social media links should open in new tabs for good user experience.

**Additional context**

Hey @Arun9739 ,
Can I work on this issue?

[2022-10-10 15:06] Arun9739 commented on #185
@AvadhootK Go ahead
Show your love by stargazing the repo 🌟

[2022-10-10 15:08] AvadhootK commented on #185
Thanks, Starred the repo!

[2022-10-10 15:28] Coderner opened #187 "Shadow effect of "OUR TOURS" button in navbar not working like other buttons"
![Screenshot (8)](https://user-images.githubusercontent.com/85217344/194901955-e53795f2-248d-49f1-b11d-aa07ef09a3aa.png)
![Screenshot (9)](https://user-images.githubusercontent.com/85217344/194901961-2edb45b1-b223-4026-9c20-34c930d2e678.png)
![Screenshot (10)](https://user-images.githubusercontent.com/85217344/194901967-43f65edf-8d76-48b5-a078-59d26ee98aa5.png)
![Screenshot (11)](https://user-imag

[2022-10-10 15:50] febriadj opened #188 "Add Mobile Menu Icon Animation"
### Related Issue
As a web user/visitor, I need a different menu icon when navigation is opened or closed. Therefore, I would like to add the "mobile-menu-icon animation" feature, can I work on this?

### Screenshot (GIF)
![feature](https://user-images.githubusercontent.com/73212374/194900560-f3c94bb7-bacc-41e0-804b-6e4269fc3907.gif)

[2022-10-10 18:18] #27 closed

[2022-10-10 18:19] NateNear commented on #83
Hey @Arun9739 can you please review my PR

[2022-10-10 18:29] Arun9739 commented on #180
@AnirudhHanda Please create only one PR for all changes.
Why you have created 3 PR's for one issue?

[2022-10-10 18:30] Arun9739 commented on #184
@Coderner Go ahead
Star the repo 🌟 to show your support

[2022-10-10 18:33] Arun9739 commented on #184
@shardendu930 Thank you for your interest.
Plz create a new issue or look for other issue.
Show your support by stargazing the repo 🌟

[2022-10-10 18:40] Arun9739 commented on #187
Good to go @Coderner
Star the repo ⭐ to showcase your support.

[2022-10-10 18:42] AnirudhHanda commented on #180
The last PR 190 is the final.. One in the previous one I was unable to
resolve conflicts.

On Mon, 10 Oct, 2022, 11:59 pm Arun G Nayak, ***@***.***>
wrote:

[2022-10-10 18:48] #165 closed

[2022-10-10 18:49] Arun9739 commented on #188
Go for it @febriadj
Show your love by stargazing the repo 🌟

[2022-10-10 19:55] ANSHUMANDAS1506 opened #193 "Transition effect for Destination in home page"
A basic transition effect needed in the destination card in homepage

[2022-10-10 19:56] ANSHUMANDAS1506 commented on #193
I would like to do this part in your website, Can you please assign it to me?

[2022-10-11 03:42] AvadhootK opened #194 "Color of social media icons on hovering"
The color of social media icons in the footer, on hovering, should match their own theme color.
Eg : red for instagram, blue for facebook etc.
Can I work on this issue?

**Screenshots**

![Screenshot (676)](https://user-images.githubusercontent.com/72447002/194992158-a22273b6-1e20-4545-a066-2367a968cc14.png)

[2022-10-11 06:15] priyanshu070702 opened #196 "Adding style to navbar"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**

![09 10 2022_21 17 30_REC](https://user-images.githubusercontent.com/79093860/195010666-c651806f-f22f-447c-8298-8f055c83012d.png)
![09 10 2022_21 17 48_REC](https://user-images.githubusercontent.com/79093860/195010674

[2022-10-11 13:50] vaibhavsharma1234 commented on #24
Sorry will do
I got Ill that's why couldn't do it
Will do it asap

[2022-10-11 14:24] Hegde2002 opened #199 "Adding Profile for the User"
i want to add a profile section for the user which will be containing his name , PhoneNo, bookmarked places and  his travel history.
if we click on the favourites button(heart icon) it will just redirect to the home page ,If it remains user experience will be not good as he whenever he want to add  any places to bookmarks it will take him to home page.whether i have to make any changes there?

[2022-10-11 14:42] Arun9739 commented on #196
@priyanshu070702 Go ahead
Show your support by stargazing the repo 🌟

[2022-10-11 14:46] Arun9739 commented on #193
Go ahead @ANSHUMANDAS1506
Star the repo 🌟 to show your support.

[2022-10-11 14:47] Arun9739 commented on #194
Good catch @AvadhootK
Go ahead 💯
Star the repo 🌟 to shw your support.

[2022-10-11 14:51] Arun9739 commented on #199
Go ahead @Hegde2002
Nice thought 💯
Design the profile as per your choice, no problem at all.

[2022-10-11 15:12] sidd6p opened #200 "Visibility of "Travel" button on Home page"
![image](https://user-images.githubusercontent.com/91800813/195129973-b63e2c17-2529-4529-bc09-57cf88b1de87.png)

While hovering over the travel button it color changes into less visible colour, from UX/UI point of view it must get more visible and catchy to end-user eye.

__Would like to improve it.__

[2022-10-11 15:23] sidd6p opened #201 "Give error for irrelevant date for hotel and car rental"
It is processing the request even if the dates are in following format
- check-in date > check-out date
- check-in date < current date
- check-out date < current date

same pattern for car rental

Solution is to check the date to follow these condition then only process
- check-in date <= check-out date
- check-in date >= current date
- check-out date  >= current date

otherwise show alert box

**

[2022-10-11 15:29] #187 closed

[2022-10-11 15:34] #185 closed

[2022-10-11 15:37] Aarav238 commented on #5
Plesse assign this to me @Arun9739  .
I can complete it as soon as you will assign

[2022-10-11 15:38] Arun9739 commented on #6
As there is no activity and this issue is resolved by someone else, it will be closed

[2022-10-11 15:39] Arun9739 commented on #2
@tokyo3001 Ok

[2022-10-11 15:39] #2 closed

[2022-10-11 15:41] Arun9739 commented on #15
@Utkarsh212 As there is no activity it will be closed.
Thank you 👍

[2022-10-11 15:41] #15 closed

[2022-10-11 15:42] #44 closed

[2022-10-11 15:43] Arun9739 commented on #37
@SujalSamai Plz finish the task early

[2022-10-11 15:44] #46 closed

[2022-10-11 15:45] Arun9739 commented on #49
@prathimacode-hub Plz finish the task early

[2022-10-11 15:46] Arun9739 commented on #50
@ShrutiMishra-2002 Plz finish the task early

[2022-10-11 15:48] Arun9739 commented on #58
@cTahirih plz finish the task early
Thank you 👍

[2022-10-11 15:49] Arun9739 commented on #70
@joanjeremiah Plz finish your task early

[2022-10-11 15:51] #73 closed

[2022-10-11 15:52] #80 closed

[2022-10-11 15:54] Arun9739 commented on #84
@imdebamrita Add default links
Plz finish the task as soon as possible

[2022-10-11 16:46] imdebamrita commented on #84
where should I push?
The branch i created or the main branch?

[2022-10-11 16:48] imdebamrita commented on #84
PS D:\github\Paryatana> git push -u origin debamrita_add_links
remote: Permission to Arun9739/Paryatana.git denied to imdebamrita.
fatal: unable to access 'https://github.com/Arun9739/Paryatana.git/': The requested URL returned error: 403

This is the message, what i get.....

[2022-10-11 16:52] muskaan04 commented on #184
i would like to work on this?

[2022-10-11 17:14] Aarav238 opened #205 "I want to dark mode toggle button ."
I want to add dark mode toggle button by clicking it we can switch the theme of webpage.

[2022-10-11 17:15] Aarav238 commented on #205
Please assign it to me
@Arun9739

[2022-10-11 17:43] AvadhootK opened #208 "The carousel on "Contact" page doesn't work"
*What is the bug**

The carousel on "Contact" page does not have other images like other pages.

**Expected behavior**

Add more images to the "Contact" page carousel like all other pages.

**Screenshots**

![Screenshot (683)](https://user-images.githubusercontent.com/72447002/195162252-142dcf92-b0f6-45ce-920d-66494e04ddc9.png)

[2022-10-11 18:16] Arun9739 commented on #184
@muskaan04 Plz look for other issues or create new issues
Thank you for your interest
Star the repo 🌟 to show your support

[2022-10-11 18:16] #184 closed

[2022-10-11 18:52] RajatSatashiya opened #209 "Hotel/Car Rental card has uneven margin"
*What is the bug**
The hotel / car rental card has uneven margin (or padding). This is causing the text to be not centered and thus causing unusual background color issue (the yellow bg color at the bottom of the card)

**Expected behavior**
Will fix the margin (or padding) or whatever the issue is. The bg color will look proper, the textual part will be centered. Will also make the transition mor

[2022-10-11 18:52] Arun9739 commented on #5
@Aarav238 This issue was proposed by someone else and it's assigned to him
Plz look for other issue or create new issues.
Star the repo 🌟 to show your support

[2022-10-11 18:52] #5 closed

[2022-10-11 18:55] Arun9739 commented on #200
@sidd6p Go ahead
Star the repo 🌟 to showacse your support.

[2022-10-11 18:56] Arun9739 commented on #200
@myth-mithra Plz look for other issues or craete new issues
Star the repo 🌟 to showcase your support

[2022-10-11 18:59] Arun9739 commented on #201
@sidd6p Go ahead
Plz star the repo 🤩 to show your support.

[2022-10-11 19:02] HarshDDalwadi opened #211 "The yellow portion of the form is not in correct position and size"
*What is the bug**
The yellow portion is not in match with the User Interface

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot (661)](https://user-images.githubusercontent.com/102744867/195177039-2c795267-db05-42f2-b3e8-961cae24f85a.png)

**Additional context**
Add any other context about the problem here.

[2022-10-11 19:04] Arun9739 commented on #205
@Aarav238 Go ahead
Star the repo 🌟 to showcase your support.

[2022-10-11 19:21] prathimacode-hub commented on #49
Yes @Arun9739. Will get it done in a day.

[2022-10-11 22:28] Prajwalgupta opened #213 "Modified/Fixed the footer transition at scale of 1.5"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
-Added the transition in the footer buttons. This change improve the visuals of the site by adding the transition in buttons in the footer. From UX/UI point of view it looks good.

**Screenshots**
![Paryatana - Google Chrome 11-10-2022 00_59_48](https://user-images.githubusercontent.com/9256

[2022-10-12 03:54] cTahirih commented on #58
Sorry for the delay, I already have the changes. i'm uploading it now.

[2022-10-12 09:06] Arun9739 commented on #208
@AvadhootK Go ahead
Show your support by stargazing the repo ⭐

[2022-10-12 09:08] Arun9739 commented on #209
@RajatSatashiya Go ahead
Show your support by stargazing the reop 🌟

[2022-10-12 09:27] IsuruAkalanka commented on #208
Hi, @AvadhootK are you working on this or shall I work on this issue

[2022-10-12 09:33] Arun9739 commented on #211
@HarshDDalwadi Thank you for this interest
But this issue is already present and has been assigned to someone else.
Plz look for other issues or create new issue.

Star the repo 🌟 to show your support.

[2022-10-12 09:33] #211 closed

[2022-10-12 09:51] Arun9739 commented on #58
@cTahirih The issue you mentioned is already resolved by other user.
Plz create new issue or look for other issues.
Thank you 👍

[2022-10-12 09:52] #58 closed

[2022-10-12 11:02] Prajwalgupta commented on #213
You can see the transition made by me in video below.

https://user-images.githubusercontent.com/92562327/195326237-92fb5a16-8644-414e-97d8-bf03e048dfee.mp4

[2022-10-12 12:22] vaibhavsharma1234 commented on #24
sorry i will not be able to do this
honestly i am currently not able to get interested to do this open source feels like i am forcing so thats why opting out

[2022-10-12 12:22] #24 closed

[2022-10-12 12:30] AvadhootK commented on #208
Hey @IsuruAkalanka , I am almost done with the issue :)

[2022-10-12 12:40] IsuruAkalanka commented on #208
It is fine.

On Wed, Oct 12, 2022, 6:00 PM Avadhoot Kulkarni ***@***.***>
wrote:

[2022-10-12 13:32] AnirudhHanda opened #215 "Improving the Responsiveness of Logo at 991px and Footer logo at 630px."
*What is the bug**
The Logo in Navbar overlaps with the other links of Navbar at 991px and also the footer logo overlaps with other elements at 630px, So I want to resolve this issue.

**Expected behavior**
The logo should not overlap with other elements.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![paryatana_lgo_1](https://user-images.githubusercontent.com/1137

[2022-10-12 15:47] Dharansh-Neema opened #218 "Want to Add More option of hotels and car model in the form"
**### I would like to add more option while making selection for hotel and car model. **
**Screenshots**
Before:
<img width="258" alt="image" src="https://user-images.githubusercontent.com/89770584/195388829-a1fa9fed-79e4-419f-90d6-640e44623cb2.png">
<img width="265" alt="image" src="https://user-images.githubusercontent.com/89770584/195388911-bfad4b50-8e97-436f-b3c9-e8c6df2f01d6.png">
After:
<img

[2022-10-12 15:48] Dharansh-Neema commented on #218
Can you please assign it to me @Arun9739

[2022-10-12 18:14] Arun9739 commented on #213
Nice !!
Go ahead @Prajwalgupta

Show your support by stargazing the repo 🌟

[2022-10-12 18:32] Arun9739 commented on #215
@AnirudhHanda Go ahead
Star the repo 🌟

[2022-10-12 18:54] Arun9739 commented on #215
@AnirudhHanda Go ahead
Star the repo 🌟

[2022-10-12 19:06] Arun9739 commented on #218
@Dharansh-Neema Go ahead
Star the repo 🌟 to show your support

[2022-10-12 19:27] Dharansh-Neema commented on #218
Created a Pull Request for this issue
Pull Request Number: #221

[2022-10-12 19:42] Dharansh-Neema opened #223 "Improving the CONTACT US page form"
**I want to make contact us form working i.e. after submitting the form we will get a mail of the user.**
Additional Features:
Make name and email input type as required.
------------------------------------------------------------------------------------------------------------------------
@Arun9739 please assign this to me

[2022-10-12 20:09] Parth4git opened #224 "Want to add a review and rating section"
I want to add a section where review and rating is given by vistor

[2022-10-12 20:12] Parth4git commented on #224
Pls assign me so I can contribute

[2022-10-12 22:08] shubhamjain1922 opened #225 "UI allignment in filter selections div"
In our tours page, filter selection div does not have correct allignment. Its more right alligned and not center.

![image](https://user-images.githubusercontent.com/54628090/195457025-d229d253-cca7-47a4-82ce-4c68e93da96b.png)

Please assign the issue to me.

[2022-10-12 22:10] shubhamjain1922 opened #226 "Navbar not responsive"
In tablet mode, navbar is not despalying as it should, links are overlapping with logo.

![image](https://user-images.githubusercontent.com/54628090/195457383-14ae26d3-cece-4e54-b6f6-4990ef30445e.png)

PLease assign the issue to me.

[2022-10-12 22:13] shubhamjain1922 opened #227 "Tours section cutting text in tablet mode"
Text is getting cut in tablet mode. Section is not responsive enough.

![image](https://user-images.githubusercontent.com/54628090/195457587-0fe0a8aa-1ea3-4003-9a85-9c0d05e7a623.png)

Please assign the issue to me.

[2022-10-13 04:41] Devrajsinh03 opened #229 "need better hover for footer pages nav"
**Is your feature request related to a problem? Please describe.**
the footer nav for pages is not giving good look for hover
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
a bit better UI for footer pages nav
**Screenshots**
<img width="1440" alt="Screenshot 2022-10-13 at 10 05 36 AM" src="https://user-images.githubusercontent.com/103804567/195503

[2022-10-13 08:27] #200 closed

[2022-10-13 08:32] #218 closed

[2022-10-13 08:36] #183 closed

[2022-10-13 08:40] Arun9739 commented on #229
Go ahead @Devrajsinh03
Star the repo 🌟 to show your support.

[2022-10-13 08:51] Arun9739 commented on #223
@Dharansh-Neema Go ahead
Star the repo ⭐ to show your support

[2022-10-13 08:53] Arun9739 commented on #224
@Parth4git thank you for your interest
But this issue is already present and someone s working on it.

Please create new issue sor look for other issues.

Star the repo ⭐ to show your suuport.

[2022-10-13 08:53] #224 closed

[2022-10-13 08:55] Arun9739 commented on #225
@shubhamjain1922 thank you for your interest
But this issue is already present and someone is in the way to reslove it.

Please look for other issue or create new issue.

Star the repo 🌟 to show your love.

[2022-10-13 08:55] #225 closed

[2022-10-13 08:59] Arun9739 commented on #226
@shubhamjain1922 Thank you for your interest
But this issue is already present and has been assigned to someone else.
Plz look for other issue or create new issue.

Star the repo 🌟 to show your support.

[2022-10-13 08:59] #226 closed

[2022-10-13 09:01] Arun9739 commented on #227
@shubhamjain1922 Go ahead
Star the repo 🌟 to show your support.

[2022-10-13 09:09] Arun9739 commented on #37
@SujalSamai Due to no proper activity this issue will be closed

[2022-10-13 09:09] #37 closed

[2022-10-13 09:11] Arun9739 commented on #50
@ShrutiMishra-2002 Due to inactivity this issue will be reassigned.
Anyone can take up this issue

[2022-10-13 09:13] Arun9739 commented on #70
@joanjeremiah Due to inactivity this issue will be unassigned.
Anyone can take up this issue.

[2022-10-13 09:14] #88 closed

[2022-10-13 09:18] Arun9739 commented on #84
@imdebamrita Plz create a forked repository
And push commits into the forked repository.
You're trying to push commits into the head repository, which is wrong.
Plz read the contributing guidelines 📖

[2022-10-13 09:21] #89 closed

[2022-10-13 09:23] Arun9739 commented on #92
@sumitkr2000 Finish your task early

[2022-10-13 09:24] #97 closed

[2022-10-13 09:24] #99 closed

[2022-10-13 09:24] #104 closed

[2022-10-13 09:35] wickedwisdom0911 opened #233 "Just a bit typo in the documentation."
*What is the bug**
In the readme under the Paryatana title "the travel agency are also dispalyed" the spelling of displayed is incorrect.

"**Expected behavior**
Dispalyed to be corrected to displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/78411069/195560979-42e80eba-b1f4-4efc-8f23-f5c2291403a3.png)

**Additional context**
Add any other context about the problem here.

[2022-10-13 09:36] wickedwisdom0911 commented on #233
Though a small issue , would be a great issue for me , as its my first time in Hacktoberfest

[2022-10-13 09:40] Arun9739 commented on #105
@swastik-bose007 If you want to work again on this issue you will be given 2 days time.
Else this issue will be assigned to someone else.

[2022-10-13 10:51] divyansh956 opened #235 "Fix Error in fav icon of title bar"
## *What is the bug**
#### Error in displaying the fav icon

## **Expected behavior**
#### Fix error in fav icon

## **Screenshots**
![image](https://user-images.githubusercontent.com/96046430/195577826-1a088ac1-0eb4-4812-b0cd-04df5bb846db.png)

[2022-10-13 11:44] sumitkr2000 commented on #92
@Arun9739 I have already done this task...you can close this issue now.

[2022-10-13 14:16] charandeep7 opened #237 "Fix favourites.html page footer"
*What is the bug**
favourites.html doesn't look good like other pages

**Expected behavior**
NA

**Screenshots**
![Footer](https://user-images.githubusercontent.com/96859500/195621647-514269cd-2f9b-4036-9f67-dc50c5433c4e.jpg)

**Additional context**
Please assign this bug to me. I'll fix this bug asap.

[2022-10-13 15:41] #229 closed

[2022-10-13 15:48] Arun9739 commented on #233
@wickedwisdom0911 Good catch
Changing a small letter can't be considered as "open source contribution"
But I appreciate your enthusiasm

Plz look for other issues or create new issues.

Star the repo 🌟 to show your support.

[2022-10-13 15:48] #233 closed

[2022-10-13 15:50] Arun9739 commented on #235
@divyansh956 Go ahead
Star the repo ⭐ to show your support

[2022-10-13 16:10] Arun9739 commented on #237
@charandeep7 Go ahead
Show your support by stargazing the repo 🌟

[2022-10-13 17:13] Devrajsinh03 opened #239 "showing text cursor at wrong place."
*What is the bug**
A clear and concise description of what the bug is.
showing text cursor in between social logos in about page card

**Expected behavior**
A clear and concise description of what you expected to happen.
should not show text cursor

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1440" alt="Screenshot 2022-10-13 at 10 38 41 PM" src="https:/

[2022-10-13 17:21] pranjalT24 opened #241 "Fix Border styling of Footer Follow Us"
*What is the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2022-10-13 17:27] pranjalT24 commented on #241
Fo

[2022-10-13 17:27] #241 closed

[2022-10-13 17:36] pranjalT24 opened #242 "Improving the Footer Follow Us Design"
*What is the bug**
The Footer Follow us Underline is too close to it

**Expected behavior**
The underline should have some gap in it

[2022-10-13 17:52] SaiSantosh2209 opened #244 "No proper description in the About Us section of your Website"
* I want to replace the lorem ipsum text present in the About us section with some proper Text for enhancing the user experience.
* I would just give a brief description about your travel website
![Screenshot (8)](https://user-images.githubusercontent.com/83724995/195669615-6762bf4b-d01d-4794-950e-696cfd704d56.png)

[2022-10-13 17:55] beauty108 opened #245 "Improvement in Home page."
*What is the bug**
Size of the form card in home page is not adjustable with the surrounding.

**Expected behavior**
The size of the form card i.e., circled with red must be equal to the size of cards circled with green in the given screenshot.

**Screenshots**
![Screenshot 2022-10-13 231627](https://user-images.githubusercontent.com/111839696/195670181-0b923a15-6315-4e9c-985d-5899c64c2f6c.png)

[2022-10-13 17:57] beauty108 commented on #245
Can I work on this ?
Please assign this task to me, I want to improve others bugs also in this page.

[2022-10-13 17:57] SaiSantosh2209 opened #246 "Providing proper social media handle links in About us section"
* I would like to  provide proper social media links which are present in the about us section of your website.
* I will just provide the links of your social media handles of your
![Screenshot (9)](https://user-images.githubusercontent.com/83724995/195671063-43e066ee-ca76-4412-a89d-c04bcd2bba9b.png)
 account

[2022-10-13 19:10] 0xflotus opened #248 "Misspelling in tags"
There are two tags in this repository which are misspelled.

hactoberfest2022 -> hacktoberfest2022
hactoberfest-accepted -> hacktoberfest-accepted

If you change these tags, maybe more people can find this repo to contribute to it.

[2022-10-13 20:08] arzitmahajan opened #249 "Improving UI"
**Is your feature request related to a problem? Please describe.**
The date and other cards on carousal are not in proportion so aligning it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Adding parallax image in background in place of carousal and then applying gradient on carousal and aligning the cards on carousal

**Screenshots**

[2022-10-14 04:42] ShrutiMishra-2002 commented on #50
@Arun9739 can you assign it again due to my exams I was not able to do the work!

[2022-10-14 09:01] Arun9739 commented on #239
@Devrajsinh03 Go ahead
Nice changes
Show your support by stargazing the repo 🌟

[2022-10-14 09:04] Arun9739 commented on #242
@pranjalT24 Go ahead

Star the repo ⭐ to show your love.

[2022-10-14 09:11] Arun9739 commented on #244
@SaiSantosh2209 Go ahead
There are total 4 cards, plz change all lorem content to proper content.
You can change the heading also, as per your convenience.

Star the repo 🌟 to show your support.

[2022-10-14 09:15] Arun9739 commented on #245
@beauty108 Go ahead
Star the repo 🌟 to show your support

[2022-10-14 09:17] Arun9739 commented on #245
@beauty108 If the cards are not visible due to some problem, plz copy it from the tours page.

[2022-10-14 09:28] beauty108 commented on #245
Okay I will fix it soon. Thankyou : )

[2022-10-14 10:22] Harshit-2112 opened #253 "Make textarea in contact.html responsive"
I have inspect contact page. query box is not adjusting in a right way on smaller screen.
Please Assign me this issue to work upon.
make query box responsive.
Thank you

[2022-10-14 11:46] samipashaa opened #254 "Add a License"
**Is your feature request related to a problem? Please describe.**

I noticed this repository doesn't have a license.

If you don't mind I would like to add one to clarify what others can and can't do with this repository.

**Describe the solution you'd like**

I was thinking either the apache or the MIT license would work.

[2022-10-14 12:44] creater-shikha opened #257 "improve the header section"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

improve the header section and initial images in the home page
**Screenshots**
![Paryatana - Google Chrome 10_9_2022 5_11_26 PM](https://user-images.githubusercontent.com/69755719/195850440-bc515f2b-8f78-4199-8945-1fe0b5e4a24a.png)
I

[2022-10-14 12:44] creater-shikha commented on #257
assign this issue  to me

[2022-10-14 12:53] Arun9739 commented on #246
@SaiSantosh2209 Go ahead
Just add the inks of the social media itself like https://twitter.com.
No need to add it for particular account.

Star the repo 🌟 to show your support.

[2022-10-14 13:04] #235 closed

[2022-10-14 13:14] Arun9739 commented on #249
@arzitmahajan Go ahead
Star the repo 🌟 to show your support.

[2022-10-14 13:21] Arun9739 commented on #253
@Harshit-2112 Go ahead
Star the repo 🌟 to show your love.

[2022-10-14 13:29] #201 closed

[2022-10-14 13:52] Arun9739 commented on #254
@samipashaa Go ahead
Add MIT license.

Show your support by stargazing the repo 🌟

[2022-10-14 13:55] Arun9739 commented on #257
@creater-shikha Nice
Go ahead
Star the repo 🌟 to show your support.

[2022-10-14 13:56] Shurtu-gal opened #258 "Unexpected behaviour in cards of about page"
**What is the bug**
Cards are stretching reducing the readability of text content.

**Expected behavior**
The card should float up instead of stretching up.

**Screenshots**
![image](https://user-images.githubusercontent.com/100484401/195864561-f5889a23-2240-421c-b04e-eaea5c280453.png)

[2022-10-14 13:56] Arun9739 commented on #50
@ShrutiMishra-2002 A last chance will be given to you
Plz make it ASAP.

[2022-10-14 13:57] Shurtu-gal commented on #258
Can I get assigned to this issue?

[2022-10-14 14:00] Arun9739 commented on #95
@THE-AryanKumar and @AnishKumarGarg Due to inactivity and the issue is proposed by someone else, this issue will be closed.
Plz look for other issues or create new issues.

Star the repo 🌟 to show your support.

[2022-10-14 14:00] #95 closed

[2022-10-14 14:02] Arun9739 commented on #122
@Elu007 Plz finish your task early

[2022-10-14 14:03] Arun9739 commented on #258
@Shurtu-gal Go ahead
Star the repo 🌟 to show your support.

[2022-10-14 14:04] sidd6p opened #259 "Need more margin between "popular packages" cards to maintain enough space while hovering over them"
While hovering to "popular packages" cards on home page, then they looks like overlapping

While hovering it should not look like hovering and user can still get the focus on the card to which he/she is looking

![image](https://user-images.githubusercontent.com/91800813/195866179-c0f3b7e7-8eda-450a-9f73-a2a57df532d2.png)

[2022-10-14 14:18] sidd6p opened #260 "Send query or message as email, instead of doing nothing"
- On contact, there should be some minimum action after user submit query or feedback

- Solution can be opening the user email. Already populated email with body containing the message or query from the user. In this way we even do not need to ask user for the email.

![image](https://user-images.githubusercontent.com/91800813/195869135-3b119cbf-6758-4529-94f6-252775ca09e4.png)

_email used is du

[2022-10-14 16:13] samipashaa commented on #254
Sure, on it!

[2022-10-14 17:09] Shurtu-gal commented on #260
**Interested**

[2022-10-14 19:35] Dharansh-Neema commented on #223
Pull request is submitted #270

[2022-10-15 02:18] manika137 commented on #259
I could take it up.
I would also like to correct the box size for this section on 'Our Tours' page
<img width="948" alt="image" src="https://user-images.githubusercontent.com/80244229/195964464-f5ccdc2c-723f-488f-b09a-0a4acbd6db31.png">

[2022-10-15 07:16] samipashaa commented on #254
I have added MIT license can you please check and give feedback please.

[2022-10-15 08:00] darshikaguptaa commented on #259
Hey @Arun9739 I would like to work on this. Please assign this issue to me

[2022-10-15 12:17] Arun9739 commented on #259
@sidd6p Go ahead
Star the repo 🌟 to show your support.

[2022-10-15 12:18] Arun9739 commented on #259
@manika137 Plz create new issue for that, I will assign you.
Star the repo 🌟 to show your support.

[2022-10-15 12:19] Arun9739 commented on #259
@darshikaguptaa Thank you for your interest
Plz create new issues or look for other issues.
Star the repo 🌟 to show your love.

[2022-10-15 12:22] #254 closed

[2022-10-15 12:33] #258 closed

[2022-10-15 12:36] darshikaguptaa opened #271 "Footer responsiveness"
Footer is not responsive in mobile view

![Screenshot_2022-10-15-18-06-53-50_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/76615910/195986819-145aff17-f301-4724-a984-aa1ae1a40e12.jpg)

[2022-10-15 12:36] darshikaguptaa commented on #271
Hey @Arun9739 I'd like to fix this

[2022-10-15 12:58] #244 closed

[2022-10-15 13:16] Arun9739 commented on #260
@sidd6p and @Shurtu-gal Thanks for this issue.
But the issue is alreday submitted by someone else and has been resolved.

Plz create new issues or look for other issues.
Star the reop 🌟 to show your support.

[2022-10-15 13:16] #260 closed, assigned to nobody

[2022-10-15 14:00] manika137 opened #272 "Enhancement of the 'Our Tours' section"
I would like to create uniform boxes for the touring information
![image](https://user-images.githubusercontent.com/80244229/195990521-56fbeca6-4b72-4d3c-8f67-68f3de9a5a0e.png)

@Arun9739, please assign it to me

[2022-10-15 14:07] Arun9739 commented on #271
@darshikaguptaa Go ahead
Star the repo 🌟 to show your support.

[2022-10-15 14:13] Arun9739 commented on #272
@manika137 Go ahead
Star the repo 🌟 to show your support.

[2022-10-15 14:16] Arun9739 commented on #84
@imdebamrita Due to no activity and the issue is proposed by someone else, this will be closed.

[2022-10-15 14:16] #84 closed

[2022-10-15 14:17] Arun9739 commented on #92
@sumitkr2000 OK thanks :)

[2022-10-15 14:17] #92 closed

[2022-10-15 14:17] #107 closed

[2022-10-15 14:18] Arun9739 commented on #113
@nipun-das Plz finish the task early

[2022-10-15 14:19] #128 closed

[2022-10-15 14:20] Arun9739 commented on #135
@Trust-007 Due to inactivity and the issue is proposed by someone else, this issue will be closed
Thank you 👍

[2022-10-15 14:20] #135 closed

[2022-10-15 14:32] #223 closed

[2022-10-15 14:48] Dharansh-Neema opened #274 "Adding actual content in ABOUT us Section"
**Replacing the random text in ABOUT Section with some actual content that make sense.**

**Screenshots**
<img width="752" alt="image" src="https://user-images.githubusercontent.com/89770584/195992644-bc122a3f-7ccd-422e-bf64-2a10e0cc98b8.png">

[2022-10-15 14:53] TheDemantor opened #275 "Login>sign Up feature is missing."
I can add a login/sign Up button in the navbar and forms for login and signup

[2022-10-15 14:55] TheDemantor commented on #275
Please assign me this issue, so I can proceed.

[2022-10-15 15:18] beauty108 commented on #245
@Arun9739 Done :-)

[2022-10-15 18:19] SaiSantosh2209 commented on #246
@Arun9739 Please review my PR

[2022-10-16 06:18] CHIRANTAN-001 opened #277 "Want to fix the testimonial card in about us page."
*What is the bug**
On the about us page, the testimonial card section has height and content adjustment issues, want to fix this issue.

**Expected behavior**
Content should be well-adjusted inside the yellow color testimonial card.

**Screenshots**
![image](https://user-images.githubusercontent.com/82677314/196021082-fe0daa57-8756-44aa-81d2-87223433a6a8.png)

**Additional context**
In addition, t

[2022-10-16 11:34] Arun9739 commented on #274
@Dharansh-Neema Thannk you for your interest
But there is already actual content is there.
The site has been updated.

Plz create new issues or look for other issues.
Star the repo 🌟 to show your love.

[2022-10-16 11:34] #274 closed

[2022-10-16 12:00] Arun9739 commented on #275
@TheDemantor Go ahead
Nice feature.
Star the repo ⭐ to showcase your support.

[2022-10-16 12:01] Arun9739 commented on #277
@CHIRANTAN-001 Go ahead
Star the repo 🌟 to show your support.

[2022-10-16 12:03] Arun9739 commented on #152
@Mysterious786 Plz finish the task early

[2022-10-16 12:07] Arun9739 commented on #105
Anyone can take up this issue.

[2022-10-16 12:09] #154 closed

[2022-10-16 12:10] Arun9739 commented on #150
@Proder plz finish yiur task early.

[2022-10-16 12:41] #150 closed

[2022-10-16 14:10] Dharansh-Neema opened #284 "Adding More Popular packages and places you must Visit"
Adding More different type of popular packages.

**Screenshots**
Before:
<img width="724" alt="image" src="https://user-images.githubusercontent.com/89770584/196040054-04f0447e-4fac-4537-8e7c-383e69e3c553.png">
After:
<img width="818" alt="image" src="https://user-images.githubusercontent.com/89770584/196040074-3ff6cd32-9446-4f33-b6eb-76c178c72cac.png">
**The new Image is only for displaying purpo

[2022-10-17 13:11] Arun9739 commented on #284
@Dharansh-Neema Go ahead
Add atleast 2 different packages.

Star the repo 🌟 to show your support.

[2022-10-17 15:55] kushaljgec2025 opened #287 "UI Enhancement"
**Is your feature request related to a problem? Please describe.**
"Check Now" Hover is not looking good.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I can add good hover effect and genuine colour combination
**Screenshots**
![image](https://user-images.githubusercontent.com/108950724/196225188-63013d12-a570-4917-9bb0-82f4356a19fe.png)

[2022-10-17 15:55] kushaljgec2025 commented on #287
please Assign me the task

[2022-10-17 16:05] darshikaguptaa commented on #271
Hey @Arun9739 I've fixed the issue in PR #288 Please take a look at it

[2022-10-17 16:09] sayan404 opened #289 "Want to add a newsletter in the footer section"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Screenshots**
What I am planning to do . Always Welcome to your suggestions ...

![Screenshot 2022-10-17 213714](https://user-images.githubusercontent.com/95490367/196228144-9c446f7c-5115-466e-9f3f-e3fd0d80d2ee.png)

[2022-10-17 16:10] sayan404 commented on #289
I want to work in this issue . Pls assign me this issue @Arun9739

[2022-10-17 16:31] Priyanshu-su30 commented on #289
Plz assign me this issue

[2022-10-17 16:46] SaiSantosh2209 opened #291 "No proper description in the Contact us section."
* I would like to add some proper text in the contact us section  in the place of the lorem ipsum
![Screenshot (14)](https://user-images.githubusercontent.com/83724995/196235754-d70cb296-88ae-416e-9c37-f75e66549e77.png)

[2022-10-17 17:18] acenasir commented on #291
@SaiSantosh2209 Please assign this to me and add the hactktoberfest labels

[2022-10-18 06:32] Arun9739 commented on #287
@kushaljgec2025 Go ahead
Star the repo 🌟 to show your love.

[2022-10-18 06:36] kushaljgec2025 commented on #287
I have already commit a pull request. please check it out.

[2022-10-18 06:50] #287 closed

[2022-10-18 06:55] Arun9739 commented on #289
@sayan404 Go ahead
Star the repo 🌟 to show your love.

[2022-10-18 06:56] Arun9739 commented on #289
@Priyanshu-su30 Thank you for your interesr=t
But plz look for other issues or create new issues

Star the repo 🌟 to show your support.

[2022-10-18 06:57] Arun9739 commented on #289
@Priyanshu-su30 Thank you for your interesr=t
But plz look for other issues or create new issues

Star the repo 🌟 to show your support.

[2022-10-18 07:08] Vedant-Manjrekar opened #293 "If you are making your website open-source, please mention it in your website."
Its a good thing that you want to make your project open-source, but please mention the same in your website and link the github repository to it.

[2022-10-18 07:13] Arun9739 commented on #291
@SaiSantosh2209 Go ahead
Star the repo 🌟 to show your love

[2022-10-18 07:18] Arun9739 commented on #291
@acenasir Thank you for our interest
Plz create new issues or look for other issues.

Star the repo 🌟 to show your support.

[2022-10-19 07:01] Vedant-Manjrekar commented on #293
Sure 👍🏽

[2022-10-19 08:06] Vedant-Manjrekar commented on #293
@Arun9739 Done 👍🏽

[2022-10-19 14:27] #289 closed

[2022-10-19 14:55] Aman1143 commented on #275
I want to add this feature . Please assign it me .

[2022-10-19 15:08] Aman1143 opened #298 "Making Subscribe our Newsletter responsive in mobile view."
In mobile view ,Subscribe our Newsletter both html tag email and summit button are in same row .That's why email section is properly looking good . If It adjust in two row .Then It's looks become awesome.

[2022-10-19 16:36] Arun9739 commented on #275
@Aman1143 Sorry !!
@TheDemantor is currently working on it.

[2022-10-19 17:07] SaiSantosh2209 commented on #291
Hey @Arun9739 please merge my PR

[2022-10-19 18:33] Arun9739 commented on #298
@Aman1143 Go ahead
Star the repo 🌟 to show case your support.

[2022-10-19 18:45] Source-404 opened #301 "Favorites not working and a few UI issues, spoiling the user experience."
**Is your feature request related to a problem? Please describe.**

- On clicking on Favorite, page gets refreshed,
- Footer is too big and occupies a lot of the screen
- Rounded edges will suit the the theme more

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I will fix all the above stated issues.

**Screenshots**

![image](https://user-images.

[2022-10-19 18:57] Sidkul2000 opened #302 "Hover issue on footer"
What is the bug*
The hover effect on the tabs on footer is bugged. Even if the mouse is not on the text, the tabs are getting hovered.

*Expected behavior*
The hover effect should be enabled only when the mouse is on the text.

Please assign me this task as I am working on it.

*Screenshots*
![Screenshot (688)](https://user-images.githubusercontent.com/63728680/196780031-dfc8a694-0784-4c17-b7eb-7d

[2022-10-20 05:09] SaiSantosh2209 commented on #291
@Arun9739  please review my PR

[2022-10-20 06:43] Aakash67 commented on #105
I would like to work on this issue

[2022-10-20 08:25] Source-404 commented on #301
@Arun9739 Please assign me this issue

[2022-10-20 09:00] AtriSukul1508 opened #303 "UI improvement of the team member card"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
I would like to work upon the ui of the team member cards

**Screenshots**

[2022-10-20 13:18] Priyanshu-su30 opened #304 "Text going out of the box in about page"
As seen in the left side of ss the text is out of the yellow container. I would like to fix it please assign me this!!!

![Screenshot (70)](https://user-images.githubusercontent.com/107869522/196959175-0b785fd3-a291-43a5-993e-ccccfbac18e5.png)

[2022-10-20 14:23] Arun9739 commented on #301
@Source-404 The favourites page is working(It looks like home page, that's why you got confused)
You can work on other issues.

Star the repo 🌟 to show your support.

[2022-10-20 15:20] Arun9739 commented on #302
@Sidkul2000 Go ahead
Star the repo 🌟 to show your support.

[2022-10-20 17:50] Arun9739 commented on #303
@AtriSukul1508 Go ahead
Star the repo 🌟 to show your support.

[2022-10-20 17:54] #291 closed

[2022-10-20 17:55] Arun9739 commented on #304
@Priyanshu-su30 Go ahead
Star the repo 🌟 to show your support.

[2022-10-20 18:06] Arun9739 commented on #105
@Aakash67 Go ahead
Str the repo 🌟 to show your support.

[2022-10-20 18:07] Arun9739 commented on #122
@Elu007 Due to inactivity this issue will be closed.

[2022-10-20 18:07] #122 closed

[2022-10-20 18:08] Arun9739 commented on #172
@Adi-ty Plz finish your task early

[2022-10-20 18:09] Arun9739 commented on #49
@prathimacode-hub Due to inactivity this issue will be closed.

[2022-10-20 18:09] #49 closed

[2022-10-20 18:10] Arun9739 commented on #173
@spiderxp3 plz finish your task early

[2022-10-20 18:11] Arun9739 commented on #173
@AnishKumarGarg Plz look for other issues or create new issues.
Star the repo 🌟 to show your support.

[2022-10-20 18:12] Arun9739 commented on #178
@jaisinha plz finish your task early

[2022-10-20 18:17] spiderxp3 commented on #173
Okk I will finish it by tomorrow.

[2022-10-20 18:21] Srish-ty opened #307 "Links Functionalities"
**Is your feature request related to a problem? Please describe.**

- some of the links were not leading to the respective pages
- few of links were being opened in the same window and tab, which is distracting for users.
- For newsletter, the given input field wasn't email and users can't get to know if their mail-id is submitted.

**Describe the solution you'd like**
A clear and concise descript

[2022-10-20 19:42] prathimacode-hub commented on #49
@Arun9739, I will be doing it. Can you reopen the issue?

[2022-10-21 11:36] Source-404 commented on #301
@Arun9739 please review my PR #309

[2022-10-21 13:26] Subha-5 opened #310 "Make the copyright year update automatically"
*What is the bug**
This is not a bug at present, but using a static copyright year forces the developer to change the year every new year. If it's not changed, it can hamper the reputation of the website. So, using Javascript can help us to update the year every time. This maintains the copyright year. Since the current year 2022 is going to end soon, I got an idea of this feature to get introduce

[2022-10-21 13:27] Subha-5 commented on #310
@Arun9739 please assign me this issue for hacktoberfest '22

[2022-10-21 17:56] Arun9739 commented on #307
@Srish-ty Go ahead
Star the repo 🌟 to show your support.

[2022-10-21 17:59] Arun9739 commented on #310
@Subha-5 Go ahead
Star the repo 🌟 to show your support.

[2022-10-21 18:11] Arun9739 commented on #113
@nipun-das Due to inactivity this issue will be closed.

[2022-10-21 18:11] #152 closed

[2022-10-21 18:12] #188 closed

[2022-10-22 00:57] TheDemantor commented on #275
Can I also fix the navbar and other thing for the improvement ?

[2022-10-22 03:16] sidd6p opened #311 "UX/UI issue: Font Color on landing page"
*What is the bug**
Font color of "YOUR GO TO TRAVEL PARTNER" is in purple and pinkish color
Background color is also looking like separate

**Expected behavior**
Font color of "YOUR GO TO TRAVEL PARTNER" should be in yellowish and purple color, same color shade as in navigation bar
Background color should feel like a part of website

**Screenshots**
![image](https://user-images.githubusercontent.c

[2022-10-22 04:02] Kishore-abhimanyu commented on #311
Can you assign me this issue?

[2022-10-22 08:48] Subha-5 commented on #310
@Arun9739 please review the changes in the pr #313  and close this issue.

[2022-10-22 16:23] #301 closed

[2022-10-22 16:42] Arun9739 commented on #311
@Kishore-abhimanyu GO ahead
Star the repo 🌟 to show your support.

[2022-10-22 16:44] Kishore-abhimanyu commented on #311
I have made the changes. Can you check the PR?

[2022-10-22 16:45] sidd6p commented on #311
@Arun9739 , I have created the issue therefore i request you to assign this to me

[2022-10-22 16:46] Arun9739 commented on #311
@sidd6p Go ahead
Star the repo 🌟 to show your support.

[2022-10-22 16:47] Arun9739 commented on #311
@Kishore-abhimanyu Plz look for other issues or create new issues
Star the repo 🌟 to show your support.

[2022-10-22 18:25] #307 closed

[2022-10-22 20:15] #173 closed

[2022-10-22 22:08] Subha-5 commented on #310
@Arun9739 please review the changes in the pr #316   and close this issue.

[2022-10-23 09:55] #284 closed

[2022-10-23 11:56] #310 closed

[2022-10-23 12:37] Arun9739 opened #317 "Fixing 'your go to tarvel partner' section"
# What is the bug :
- The first section in home page is taking lot of space and needs to be improved.

# Expected behavior :
- Improvemnt of 'your go to travel partner', so as to make it look better and appropriate.

# Screenshots :
![image](https://user-images.githubusercontent.com/84305637/197392534-e248d0cd-17eb-4f99-8ac6-fbe637c5d28f.png)

[2022-10-23 12:43] Arun9739 opened #318 "Different footers at different pages"
# What is the bug :
- The footers are different at different pages. For example home page footer has different style and other pages have different style.

# Expected behavior :
- I want a uniform footers all over the website. Make a footer which suits the best to website.

# Screenshots :

[2022-10-23 12:44] Arun9739 commented on #50
@ShrutiMishra-2002 Due to inactivity this issue will be closed.

[2022-10-23 12:44] #50 closed

[2022-10-23 12:48] Arun9739 opened #319 "Improving the Documentaion of Repo"
# Which feature you are going to add
- I want a improvement on the README file of repository.

# Describe the solution you'd like
- It may involve structuring the contents properly, adding new features, some proper information on website or anything which attracts contributors.

# Screenshots

[2022-10-23 12:50] #113 closed

[2022-10-23 12:52] Arun9739 commented on #193
@ANSHUMANDAS1506 If you want to work on this issue again 2 days time will be given

[2022-10-23 12:53] Arun9739 commented on #196
@priyanshu070702 If you want to work again on this issue, 2 days will be given.
Plz finish the task.

[2022-10-23 12:53] RXBlade commented on #318
Hey @Arun9739 I'll take care of it

[2022-10-23 12:54] #194 closed

[2022-10-23 12:55] Arun9739 commented on #199
@Arun9739 If you want to work on this issue, 2 days time will be given.
Plz finish your task early.

[2022-10-23 12:55] Shreyas-R-7925 commented on #205
I want to work on this feature. Please assign it to me.

[2022-10-23 12:56] Arun9739 commented on #205
@Aarav238 Plz finish your task early.

[2022-10-23 12:56] Shreyas-R-7925 commented on #205
ok thank you

[2022-10-23 12:59] Arun9739 commented on #318
@RXBlade Go ahead
Star the repo 🌟 to show your support.

[2022-10-23 13:04] Shreyas-R-7925 commented on #205
@Arun9739 can i work on this feature ?

[2022-10-23 16:17] itzwow commented on #317
Kindly assign me I would like to work on it

[2022-10-24 07:50] Akshatjaiswal5 commented on #319
Hey @Arun9739, I would like to work on this issue, Please assign me.

[2022-10-24 13:40] Arun9739 commented on #317
@itzwow Go ahead
Star the repo 🌟 to show your support.

[2022-10-24 14:00] Arun9739 commented on #319
@Akshatjaiswal5 Go ahead
Star the repo ⭐ to show your support.

[2022-10-24 14:02] Arun9739 commented on #172
@Adi-ty This issue will be unassigned to you due to inactivity
Anyone can take up this issue.

[2022-10-24 14:04] Arun9739 commented on #178
@jaisinha Due to inactivity this issue will be closed.

[2022-10-24 14:04] #178 closed

[2022-10-24 14:05] Arun9739 commented on #205
@Shreyas-R-7925 Thank you for your interest.
Plz look for other issues or create new issue.

[2022-10-24 14:06] Arun9739 commented on #208
@AvadhootK Plz finish your task early.

[2022-10-24 14:06] #209 closed

[2022-10-24 14:07] #213 closed

[2022-10-24 14:12] Arun9739 opened #323 "Enhancing the contact for tours section"
# Which feature you are going to add
- I want a improvemnt on 'Contact for tours' section of contact page as it looks very old.

# Describe the solution you'd like
- You can add anything to enhance it and make it feel better.

# Screenshots
![image](https://user-images.githubusercontent.com/84305637/197546370-99a82311-ac5d-46ab-ac13-02f52194fd57.png)

[2022-10-24 14:17] zaahmed-nisum-com commented on #323
@Arun9739  can i work on it please?

[2022-10-24 14:20] Arun9739 opened #324 "Bugs in special packages"
# What is the bug :
- The dates in the special packages cards of our tours is not proper.
- The stars in the same cards are looking very odd.

# Expected behavior :
- Need to add proper dates and stars over there

# Screenshots :

![image](https://user-images.githubusercontent.com/84305637/197548515-11c4ed95-e6bd-41b0-8c14-928e41a4a653.png)

[2022-10-24 14:34] Arun9739 commented on #323
@zaahmed-nisum-com Go ahead
Star 🌟 the repo to show your support.

[2022-10-24 15:20] ihtishamKhan commented on #324
@Arun9739 Please assign it to me, I will add random dates every time page loads also same for star rating

[2022-10-24 15:33] Devrajsinh03 opened #325 "FOOTER"
No consistency in footers of website

[2022-10-25 04:29] #193 closed

[2022-10-25 09:21] Arun9739 commented on #324
@ihtishamKhan Go ahead
Star the repo 🌟 to show your support

[2022-10-25 11:49] Arun9739 commented on #325
@Devrajsinh03 This issue is already present and has been assigned to someone else.
Look for other issues or craete new issues.

Plz star 🌟 the repo to show your support.

[2022-10-25 11:49] #325 closed

[2022-10-25 13:30] Devrajsinh03 opened #327 "TESTIMONIALS BUG"
# What is the bug :
Container overflow

# Expected behavior :
Content should be covered in the container.

# Screenshots :
<img width="1440" alt="ed" src="https://user-images.githubusercontent.com/103804567/197786335-18bb77a3-6e11-44b3-b000-233548e999ab.png">

[2022-10-25 13:43] ihtishamKhan commented on #324
I am on it

[2022-10-25 16:23] Arun9739 commented on #327
@Devrajsinh03 Go ahead
Plz star the repo 🌟 to show your support.

[2022-10-26 13:20] Devrajsinh03 commented on #327
@Arun9739 I have fixed this bug please check the PR

[2022-10-26 14:29] #323 closed

[2022-10-27 17:31] Arun9739 commented on #318
If anyone wants to work upon this issue, they can do.

[2022-10-27 17:32] #327 closed

[2022-10-27 17:35] #317 closed

[2022-10-27 17:38] #324 closed

[2022-10-27 17:42] Arun9739 commented on #105
@Aakash67 Plz finish the task early.

[2022-10-27 17:44] Arun9739 commented on #196
@priyanshu070702 Due to inactivity this issue will be closed.

[2022-10-27 17:44] #196 closed

[2022-10-27 17:45] Arun9739 commented on #199
@Hegde2002 Due to inactivit this issue will be closed

[2022-10-27 17:45] #199 closed

[2022-10-27 17:53] Arun9739 commented on #205
@Aarav238 Due to inactivity this issue will be unassigned
Anyone can take up.

[2022-10-27 17:53] Arun9739 commented on #205
@Shreyas-R-7925 Do you want to work on this?

[2022-10-27 17:54] Arun9739 commented on #205
@Shreyas-R-7925 Do you want to work on this?

[2022-10-28 07:13] ihtishamKhan commented on #318
@Arun9739 I am going to work on it please assign it to me

[2022-10-28 07:15] Shreyas-R-7925 commented on #205
I'd like to work on this issue #205, so if you could possibly assign me this issue.

[2022-10-28 07:15] Arun9739 commented on #318
@ihtishamKhan Go ahead
Star the repo 🌟 to show your support

[2022-10-28 08:53] itzwow commented on #172
Hey @Arun9739  I would like to work on this issue. Can you kindly assign me this issue

[2022-10-28 15:24] Arun9739 commented on #172
@itzwow Go ahead
Star the repo 🌟 to show your support

[2022-10-28 15:25] Arun9739 commented on #205
@Shreyas-R-7925 Go ahead
Star the repo 🌟 to show your support

[2022-10-28 15:30] Arun9739 commented on #208
@AvadhootK Due to inactivity this issue is closed.

[2022-10-28 15:30] #208 closed

[2022-10-28 15:31] #237 closed

[2022-10-28 15:32] #242 closed

[2022-10-28 15:32] #245 closed

[2022-10-28 15:33] #246 closed

[2022-10-28 15:33] #249 closed

[2022-10-28 15:34] Arun9739 commented on #253
@Harshit-2112 Do you want to work again on this issue? Plz finish the task early

[2022-10-28 15:35] Arun9739 commented on #257
@creater-shikha Plz finish the task early

[2022-10-28 15:40] #272 closed

[2022-10-28 15:48] #259 closed

[2022-10-28 15:48] #271 closed

[2022-10-28 15:51] Ultimateutkarsh11 opened #331 "Want to add useful resources in contributing.md"
# Which feature you are going to add
In the contributing.md section, I want to add links to useful blogs, Youtube videos and GitHub repositories so that beginners do not face any difficulty while contributing.

# Screenshots
![image](https://user-images.githubusercontent.com/95978839/198680076-e3764880-0e3f-47ef-9139-6398483bf494.png)

[2022-10-28 15:52] Arun9739 commented on #275
@TheDemantor Plz finish your task early
You can improve whatever you want by making sure that it won't create any problem.

[2022-10-28 15:53] Arun9739 commented on #275
@Aman1143 Plz look for other issues or create new issues
Star the repo 🌟 to show your support.

[2022-10-28 15:55] Arun9739 commented on #303
@AtriSukul1508 Plz finish your task early

[2022-10-28 15:56] Arun9739 commented on #331
@Ultimateutkarsh11 Go ahead
Plz star the repo 🌟 to show your support

[2022-10-28 15:58] #277 closed

[2022-10-28 15:58] Arun9739 commented on #319
@Akshatjaiswal5 Plz finish your task early

[2022-10-28 15:59] Arun9739 commented on #302
@Sidkul2000 Plz finish your task early

[2022-10-28 16:03] Arun9739 opened #332 "Favicon not visible at the home page"
# What is the bug :
- The favicon not visible at the home page due to the some problem

# Expected behavior :
- Fix the issue do that the favicon is visble at home page same as visble at other pages.
- Same problem at the 'our tours' page need to be done.

# Screenshots :

[2022-10-28 16:05] Ultimateutkarsh11 commented on #331
Sure, I starred the repository.
Thanks for assigning!

[2022-10-28 16:09] Arun9739 opened #333 "Incorrect images at the our tours section"
# What is the bug :
- In our tours section of 'our tours' page we have some unrelated images.

# Expected behavior :
- Need to add proper images matching to the title of cards.

# Screenshots :

![image](https://user-images.githubusercontent.com/84305637/198682949-63c53e6c-307d-4d23-b88f-ecb79cecc699.png)

[2022-10-28 16:20] jxxe commented on #333
I can take this one. I'll submit a pull request shortly.

[2022-10-28 16:52] RashiSingh20 commented on #332
I would like to work on this.

[2022-10-28 17:13] issue31 commented on #332
Will you please assign me this issue @Arun9739 .

[2022-10-28 17:39] KanjiZain commented on #332
@Arun9739 Assign it to me will go easy way

[2022-10-28 17:55] Arun9739 commented on #333
Go ahead @jxxe
Star the repo 🌟 to show your support.

[2022-10-28 17:56] Arun9739 commented on #332
@RashiSingh20 Go ahead
Plz star the repo 🌟 to show your support

[2022-10-28 17:57] Arun9739 commented on #332
@KanjiZain and @issue31 Thank you for your interest
But plz look for other issues or create new issues

Plz star 🌟 the repo to show your support.

[2022-10-28 18:17] Sidkul2000 commented on #302
I am sorry the bug is not getting fixed. I have been trying since a few days, but its remainig the same. I will try for a few days more, but I think it would be better to assign the task to someone else. Apologies for the delay.

[2022-10-29 03:17] Aman1143 commented on #298
@Arun9739  Sorry Sir ! Actually due to proxy error in my git bash , I am unable to push it. I will go back to collage after 1 Nov.
then I will able to push it.
Thankyou .

[2022-10-29 05:37] #253 closed

[2022-10-29 06:39] Ultimateutkarsh11 commented on #318
This issue still needs to be fixed, can I work on it @Arun9739?

[2022-10-29 12:41] #331 closed

[2022-10-29 12:59] Arun9739 commented on #302
@Sidkul2000 Its okay, no problem
Plz star the repo 🌟 to show your support.

[2022-10-29 12:59] #302 closed

[2022-10-29 13:01] Arun9739 commented on #298
@Aman1143 Okay !!

[2022-10-29 15:44] #318 closed

[2022-10-29 15:44] Arun9739 commented on #318
@Ultimateutkarsh11 The issue has been fixed.
Plz look for other issues or create new issues.

[2022-10-29 15:49] Arun9739 opened #340 "Logo placement is wrong"
# What is the bug :
- Logo at the navbar in all pages has been mispalced. The logo is not visble properly.

# Expected behavior :
- Logo needs to be visble properly.

# Screenshots :

![image](https://user-images.githubusercontent.com/84305637/198840864-81cb80c2-01ee-4f46-b8c3-22afbd2367ed.png)

[2022-10-29 15:54] Arun9739 commented on #304
@Priyanshu-su30 Plz finish your task early

[2022-10-29 15:56] Ultimateutkarsh11 commented on #318
Sure!

[2022-10-29 15:56] Arun9739 commented on #304
@Priyanshu-su30 As this issue has been fixed, it wil be closed
Plz look for other issues or create new issues.

[2022-10-29 15:56] #304 closed

[2022-10-29 15:56] hokandil commented on #340
I would to like to work on this, please assign it to me

[2022-10-29 16:02] Arun9739 opened #341 "Improving 'what we do' section"
# Which feature you are going to add
- The 'what we do' in about page doesn't have some proper information.

# Describe the solution you'd like
- Need some proper sub-title, content, and image to describe about 'Paryatana' website services.
- You can change that section's format also if you have any best idea.

# Screenshots

![image](https://user-images.githubusercontent.com/84305637/198841377-73

[2022-10-29 16:03] Arun9739 commented on #340
@hokandil Go ahead
Star the repo 🌟 to show your support.

[2022-10-29 16:11] Arun9739 opened #342 "Adding links to 'contact for tours' section"
# What is the bug :
- There is no proper social media links in the 'contact for tours' of contact page.

# Expected behavior :
- Need to add just the proper links of that social medias.
- No need to add the link for particular social media account.

# Screenshots :

![image](https://user-images.githubusercontent.com/84305637/198841773-44713800-e422-42af-b276-14ea0583798b.png)

[2022-10-29 16:12] Arun9739 commented on #341
@Priyanshu-su30 Go ahead
Plz star the repo 🌟 to show your support.

[2022-10-29 16:27] AnonymousSudh commented on #342
assign me this.. I will complete it within 10 min.

[2022-10-30 08:48] Arun9739 commented on #342
@AnonymousSudh Go ahead
Star the repo 🌟 to show your support.

[2022-10-30 08:52] #342 closed

[2022-10-30 08:53] Arun9739 commented on #172
@itzwow Plz finish your task early

[2022-10-30 08:53] Arun9739 commented on #205
@Shreyas-R-7925 PLz finish your task early

[2022-10-30 08:55] Arun9739 commented on #257
@creater-shikha Due to inactivity this issue will br closed

[2022-10-30 08:55] #257 closed

[2022-10-30 08:56] Arun9739 commented on #275
@TheDemantor Due to inactivity this issue will be unassigned
Thank you :)

[2022-10-30 08:57] Arun9739 commented on #275
@Aman1143 Do you want to work on it?
Anyone can take up this issue..

[2022-10-30 09:04] Arun9739 commented on #303
@AtriSukul1508 Due to inactivity this issue will be closed.

[2022-10-30 09:04] #303 closed

[2022-10-30 09:12] Arun9739 opened #345 "Adding different images at 'welcome to paryatana'"
# Which feature you are going to add
- The images in slideshow are same across all the 4 slides.

# Describe the solution you'd like
- Need a different images at differnt slides so as to enhance the view.
- You can put the images which best suits the content.

# Screenshots

![image](https://user-images.githubusercontent.com/84305637/198870920-1ba25b52-183d-4c58-8a1b-323ef146aded.png)

[2022-10-30 09:36] pratik2315 commented on #345
Hey @Arun9739 I would like to work on this issue if its alright

[2022-10-30 13:43] Arun9739 commented on #345
@pratik2315 Go ahead
Star the repo 🌟 to show your support.

[2022-10-30 13:54] Arun9739 commented on #332
@RashiSingh20 As the issue is fixed, it will be closed.

[2022-10-30 13:54] #332 closed

[2022-10-30 14:04] #340 closed

[2022-10-31 04:15] sayan404 commented on #275
want to work pls assign me @Arun9739

[2022-10-31 04:44] Devrajsinh03 opened #347 "Footer Email contact"
Footer contact via Email section is not matching with website Ui theme and felt bit off.

<img width="1440" alt="Screenshot 2022-10-31 at 10 04 21 AM" src="https://user-images.githubusercontent.com/103804567/198932433-49dd7a09-dff5-4198-8cf8-3b8f273c3b3e.png">

[2022-10-31 05:02] OneAutumLeaf commented on #275
hi @Arun9739
I already have created login/signup page. Can u assign this to me.

[2022-10-31 05:06] kushaljgec2025 opened #348 "Responsive Header"
# Which feature you are going to add
![problem](https://user-images.githubusercontent.com/108950724/198935246-283e770a-ca1a-4be8-a56d-fc01ffb9b8a7.png)

# Describe the solution you'd like
responsive useing media query

# Screenshots

[2022-10-31 07:14] sb-decoder opened #350 "Update Hero.css and readme.md"
# Which feature you are going to add
update readme.md and hero.css

# Describe the solution you'd like
added color and font family to description in landing page and  curved the button of discover and play

# Screenshots
![Screenshot 2022-10-31 123848](https://user-images.githubusercontent.com/108983339/198952018-caa2f92e-4a48-40e1-b489-7b0d650f29d6.png)

[2022-10-31 08:51] Arun9739 commented on #348
@kushaljgec2025 Go ahead
Star the repo 🌟 to show your support.

[2022-10-31 08:55] #348 closed

[2022-10-31 08:57] logicalahara commented on #347
@Devrajsinh03, would love to contribute to this for making design changes to match website theme.

#### Will you please assign this to me and add 'hacktoberfest' label to this issue ?

[2022-10-31 08:57] Arun9739 commented on #347
Go ahead @Devrajsinh03
Star the repo 🌟 to show your support.

[2022-10-31 09:00] Arun9739 commented on #347
@logicalahara Thanks for the interest
But this issue is already been assigned to someone else.
Plz look for other issues or create new issues

Plz star the repo 🌟 to show your support.

[2022-10-31 09:02] Arun9739 commented on #350
@sb-decoder Go ahead
Star the repo 🌟 to show your support.

[2022-10-31 09:05] Arun9739 commented on #293
@Vedant-Manjrekar If you are still working on this issue, then plz make sure to finish early.

[2022-10-31 09:11] sb-decoder commented on #350
I have already made a PR. Please check.

[2022-10-31 13:36] #350 closed

[2022-10-31 13:39] #347 closed

[2022-10-31 13:44] Arun9739 commented on #275
@sayan404 Go ahead
Plz star the repo 🌟 to show your support.

[2022-10-31 13:44] Arun9739 commented on #275
@OneAutumLeaf Plz look for other issues or create new issues
Star the repo 🤩 to show your support.

[2022-10-31 13:46] Arun9739 commented on #341
@Priyanshu-su30 Plz finish your task early

[2022-10-31 13:46] Arun9739 commented on #345
@pratik2315 Plz finish your task early

[2022-10-31 13:59] EmzB opened #354 "Update to the readme file"
# Which feature you are going to add
I am requesting to work on the current readme file and update it's readability

[2022-11-01 13:24] #345 closed

[2022-11-01 13:26] Arun9739 commented on #354
Go ahead
Star the repo 🌟 to show your support.

[2022-11-01 20:46] EmzB commented on #354
thank you

[2022-11-10 15:30] #354 closed

[2022-11-13 15:29] Arun9739 commented on #105
@Aakash67 Due to inactivity this issue will be unassigned.
Anyone can take up this issue.